{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% load custom_tags %}
{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="home-panel-flex navegador">
            <a href="{% url 'usuarios:home_mentor' %}">Início</a>
            <p>|</p>            
            <p><a href="{% url 'mentorias:mentorias_mentor' %}">Mentorias</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:alunos' %}"><b>Alunos</b></a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:simulados' %}">Simulados</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:materias' %}">Matérias</a></p>
        </div>
        <div class="div-margin-top">
            <h1>Painel do aluno</h1>
        </div>
        <div class="column-flex-streght">
                {% csrf_token %}
            <p><b>Situação: </b><span id="situacaoMatricula">{{ aluno.get_situacao_aluno_display }}</span></p>
            <p><b>Nome: </b> {{ aluno }}</p>
            <p><b>Telefone: </b> {{ aluno.telefone_aluno }}</p>
            <p><b>E-mail: </b> {{ aluno.email_aluno }}</p>
            <p><b> Cadastrado em: </b>
                {{ aluno.criado_em|date:'SHORT_DATE_FORMAT' }}
            </p>
        </div>
        <div class="row-flex-start">
            <div class="menu">   
                    <a href="javascript:void(0)" onclick="alteraSituacaoMatricula('{{ aluno.pk }}', 'aluno')">                    
                    Alterar Ativo/Ex-Aluno
                    </a>
                |
                <a href="{% url 'mentorias:editar_aluno' aluno.pk %}">Alterar informações do aluno</a>
                |
                <a href="javascript:void(0)" onclick="removerAlunoAbreModal('{{ aluno.pk }}')"
                    >Apagar cadastro do aluno</a>
                </div>
        </div>
        <div class="saving-sign">
            <i >Salvando alterações...</i>
        </div>
        <div class="two-parts-content div-margin-top">
            <div class="div-rows">
                <div>
                    <b>Controle do aluno</b>
                    <p>
                        <span class="help-block">Este conteúdo é exclusivo do mentor. Anote o que achar conveniente
                            para seu controle:
                        </span>
                    </p>
                    <textarea name="controle" id="controleTextarea" cols="50"
                        rows="15"
                        onchange="atualizaControle()">{{ aluno.controle|set_empty }}</textarea>

                </div>
            </div>
            <div class="div-rows">
                <div>
                    <b>Simulados aplicados: {{ simulados_realizados.count }}</b>
                    {% if simulados_realizados %}
                    <ul>
                        {% for aplicacao in simulados_realizados %}
                        <li>
                            <a href="{% url 'mentorias:resultado_detalhe' aplicacao.id %}">
                                Aplicação nº: {{ aplicacao.id }}. {{ aplicacao.simulado.titulo }} / {{ aplicacao.resposta_alunos|status_resposta }}
                            </a>
                        </li>
                            {% empty %}
                           <li>Nenhum simulado encontrado.</li>
                            {% endfor %}
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="div-rows div-margin-top">
            <div>
                <b>Matriculas do aluno:</b>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Número</th>
                        <th>Título</th>
                        <th>Iniciada em</th>                        
                        <th>Encerra em</th>
                        <th>Situação</th>
                        <th>Detalhar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for matricula in matriculas %}
                    <tr>
                        <td>{{ matricula.id}}</td>
                        <td>{{ matricula.mentoria.titulo }}</td>
                        <td>{{ matricula.criada_em }}</td>
                        <td>{{ matricula.encerra_em }}</td>
                        <td>{% if matricula|matricula_ativa_filter %}Ativa{% else %}Encerrada{% endif %}</td>
                        <td><a href="{% url 'mentorias:matricula_detalhe' matricula.pk%}"><img style="height:2rem;" src="{% get_media_prefix %}system/clipboard.svg" alt="Clipboard"></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
    <div class="home-direita"></div>
</section>
<div id="id01" class="modal">
    <form class="modal-content" action>        
        <div class="modal-container">
            <h1 id="modalAlerta"></h1>
            <p id="modalText"></p>
            <div class="clearfix">
                <p id="modal-try-later" class="error-try-later">Um erro
                    aconteceu. Tente novamente mais tarde.</p>
                <button type="button" class="cancelBtn">Cancelar</button>
                <button type="button" id="confirmBtn" class="confirmBtn">Confirmar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
