{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="div-margin-top">
            <div class="home-panel-flex">
                <h1>Alunos</h1>
                <div class="saving-sign">
                    <i>Salvando alterações...</i>
                </div>
                <div>
                    {% csrf_token %}
                </div>
            </div>
        </div>
        <div class="home-panel-flex navegador">
            <a href="{% url 'usuarios:home_mentor' %}">Matrículas</a>
            <p>|</p>            
            <p><a href="{% url 'mentorias:mentorias_mentor' %}">Mentorias</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:alunos' %}"><b>Alunos</b></a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:simulados' %}">Simulados</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:materias' %}">Matérias</a></p>
        </div>        
        <div class="row-flex-start">
            <div>
                <a href="{% url 'mentorias:cadastrar_aluno' %}" class="menu">Cadastrar aluno</a>
            </div>
        </div>
        <div class="row-flex-start">
            <fieldset>
                <legend>Importante</legend>
                <span class="help-block block-display">*Aluno que não pré-maticular a si pŕoprio pelo link da mentoria, pode ser matriculado manualmente pelo mentor.</span>
                <span class="help-block block-display">*O mentor precisa primeiro cadastrar o aluno utilizando o link acima "Cadastrar aluno".</span>
                <span class="help-block block-display">*Em seguida, após o cadastro do aluno, o mentor precisa realizar a matrícula do aluno em uma determinada mentoria.</span>
                <span class="help-block block-display">*Para realizar a matrícula do aluno cadastrado em uma mentoria, vá ao menu "Mentorias".</span>
                <span class="help-block block-display">*Em seguida escolha a mentoria desejada, clicando sobre o título, e em seguida encontre o link "Matricular aluno".</span>
            </fieldset>
        </div>        
        <div class="two-parts-content">                
            {% regroup alunos|dictsort:"situacao_aluno"  by get_situacao_aluno_display as alunos_list %}
            <table>
            {% for alunos in alunos_list %}
            <thead>
            <tr>
                <td colspan="4">
                    {{ alunos.grouper }}
                </td>
            </tr>
            </thead>
            <thead>
            <tr>
                <th style="text-align: left;">Nome</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th style="width:15rem;">Cadastrado em</th>
                <th>Remover</th>
            </tr>
            </thead>
            <tbody>
                {% for aluno in alunos.list %}                
                <tr id="aluno-{{aluno.id}}">
                    <td style="text-align:left;">
                        <a
                        href="{% url 'mentorias:aluno_detalhe' aluno.pk %}">
                        {{ aluno }}
                        </a>
                    </td>
                    <td><a href="mailto:{{ aluno.email_aluno}}" target="_blank" style="text-transform: lowercase;">{{ aluno.email_aluno }}</a></td>
                    <td><i class="fa-brands fa-whatsapp"></i>&nbsp;<a href="https://web.whatsapp.com/send?phone={{ aluno.telefone_aluno }}" target="_blank">{{ aluno.telefone_aluno }}</a></td>
                    <td style="width:15rem;">{{ aluno.criado_em|date:"SHORT_DATE_FORMAT" }}</td>
                    <td><a
                        href="javascript:void(0);"
                        onclick="AbrirModal('{{ aluno.id}}', '{{aluno.nome_aluno}}', 'Aluno', 'removeTr')"
                        class="close-btn">&times;</a></td>
                </tr>
                {% endfor %}
            </tbody>
            {% empty %}
                <thead>
                    <tr>
                        <th style="text-align: left;">Nome</th>
                        <th>E-mail</th>
                        <th>Telefone</th>
                        <th style="width:15rem;">Cadastrado em</th>
                        <th>Remover</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td colspan="5">Nenhum aluno cadastrado até o momento.</td></tr>
                </tbody>
            {% endfor %}
            </table>
        </div> 
    </div>
    <div class="home-direita"></div>
    <div id="id01" class="modal">
        <form class="modal-content" action>
            <div class="modal-container">
                <h1 id="modalAlerta"></h1>
                <p id="modalText"></p>
                <div class="clearfix">
                    <p id="modal-try-later" class="error-try-later">Um erro
                        aconteceu. Tente novamente mais tarde.</p>
                    <button type="button" id="confirmBtn">Confirmar</button>
                    <button type="button" class="cancelBtn">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
