{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="home-panel-flex">
            <div>
                <a href="{% url 'usuarios:home_mentor' %}">
                    <img src="{% get_media_prefix %}system/user-home.svg" alt="Imagem de uma pasta com símbolo de uma casa." height="40">
                </a>
            </div>
            <p>|</p>            
            <p><a href="{% url 'mentorias:mentorias_mentor' %}">Mentorias</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:alunos' %}"><b>Alunos</b></a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:simulados' %}">Simulados</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:materias' %}">Matérias</a></p>
        </div>
        <div class="column-flex-streght">
                {% csrf_token %}
            <p><h3 id="situacaoMatricula">{{ aluno.get_situacao_aluno_display }}</h3></p>
            <p><b>Nome: </b> {{ aluno }}</p>
            <p><b>Telefone: </b> {{ aluno.telefone_aluno }}</p>
            <p><b>E-mail: </b> {{ aluno.email_aluno }}</p>
            <p><b> Cadastrado em: </b>
                {{ aluno.criado_em|date:'SHORT_DATE_FORMAT' }}
            </p>
        </div>
        <div class="column-flex-center">
            <div>                
                <a href="javascript:void(0)" onclick="alteraSituacaoMatricula('{{ aluno.pk }}')">                    
                Alterar Ativo/Ex-Aluno
                </a>
            </div>
            <div>|</div>
            <div><a href="{% url 'mentorias:editar_aluno' aluno.pk %}">Alterar informações do aluno</a></div>
            <div>|</div>
            <div><a href="javascript:void(0)" onclick="removerAlunoAbreModal('{{ aluno.pk }}')"
                >Apagar cadastro do aluno</a></div>
        </div>
        <div class="saving-sign">
            <i >Salvando alterações...</i>
        </div>
        <div class="two-parts-content div-margin-top">
            <div class="div-rows">
                <div>
                    <b>Controle do aluno</b>
                    <p>
                        <span class="help-block">Este conteúdo é exclusivo do mentor. Anote o que achar conveniente
                            para seu controle:
                        </span>
                    </p>
                    <textarea name="controle" id="controleTextarea" cols="50"
                        rows="15"
                        onchange="atualizaControle()">{{ aluno.controle }}</textarea>

                </div>
            </div>
            <div class="div-rows">
                <div>
                    <b>Simulados realizado: {{ simulados_realizados }}</b>
                    <p>
                        {% if simulados_realizados %}
                        {{ simulados_realizados.titulo }}
                        {% else %}
                        Nenhum simulado encontrado.
                        {% endif %}
                    </p>
                </div>
                <div>
                    <div>
                        <p>
                            <b>Arquivos compartilhados pelo mentor</b>
                        </p>
                        {% if aluno.arquivosaluno_set %}
                        <ul>
                            {% for arquivo in aluno.arquivosaluno_set.all %}
                            <li id="arquivo-p-{{arquivo.id}}"
                                class="overflow-treatment" style="margin-bottom: 1rem;padding-top: 0;line-height:1.3rem;">
                                {{ arquivo }}<a
                                    href="javascript:void(0);"
                                    onclick="removerAbreModal('{{ arquivo.id}}')"
                                    class="close-btn">&times;</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        Nenhum arquivo nesta mentoria.
                        {% endif %}
                        <form action class="no-space-form" method=""
                            enctype="multipart/form-data">
                            <span class="help-block">Anexe arquivo nesta
                                mentoria:</span>
                            <input type="file" name="arquivoInput"
                                id="arquivoInput">
                                <button id="upload-button" class="small-btn" onclick="uploadFile()">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-rows div-margin-top">
            <div>
                <b>Mentoria matriculada:</b>
            </div>
        </div>
    </div>
    <div class="home-direita"></div>
</section>
<div id="id01" class="modal">
    <form class="modal-content" action>        
        <div class="modal-container">
            <h1 id="modalAlerta"></h1>
            <p id="modalText"></p>
            <div class="clearfix">
                <p id="modal-try-later" class="error-try-later">Um erro
                    aconteceu. Tente novamente mais tarde.</p>
                <button type="button" class="cancelBtn">Cancelar</button>
                <button type="button" id="confirmBtn" class="confirmBtn">Confirmar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
