{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<section class="home-wrap">
    <div class="home-lateral">
        <div class="menu-lateral-bar">
            <h4>Menu</h4>
            <ul class="home-list">
                <li><a href="{% url 'usuarios:home_student' %}">Ferramenta do
                        Estudante</a></li>
                <li><h4>Ferramenta do Mentor</h4></li>
            </ul>
        </div>
    </div>
    <div class="home-principal">
        <div class="home-panel-flex">
            <p><a href="{% url 'usuarios:home_mentor' %}">Painel</a></p>
            <p>|</p>            
            <p><a href="{% url 'mentorias:mentorias_home' %}">Mentorias</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:alunos' %}"><b>Alunos</b></a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:simulados' %}">Simulados</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:materias' %}">Materias</a></p>
        </div>
        <div class="home-panel-flex">
            <p>Alunos / <b>Cadastrar aluno</b></p>
        </div>
        <div class="home-content-flex">
                <h3>Novo aluno</h3>
                <form action class="basic-form" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit">Cadastrar</button>
                    <a onclick="history.back()">Voltar</a>
                </form>

        </div>
    </div>
    <div class="home-direita"></div>
</section>
{% endblock %}
