{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="div-margin-top">
            <div class="home-panel-flex">
                <h1 class="block-display">Novo aluno</h1> 
            </div>
        </div>
        <div class="home-panel-flex navegador">
            <a href="{% url 'usuarios:home_mentor' %}">Matrículas</a>
            <p>|</p>            
            <p><a href="{% url 'mentorias:mentorias_mentor' %}">Mentorias</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:alunos' %}"><b>Alunos</b></a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:simulados' %}">Simulados</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:materias' %}">Matérias</a></p>
        </div>
        <div class="home-content-flex">
            <form action class="basic-form" method="POST">
                {% csrf_token %}
                <div class="form-box">
                    {{ form }}
                </div>
                <div class="form-box">
                    <h3>Se desejar, matricule o aluno em uma mentoria:</h3>
                    <label for="mentoria">Escolha uma mentoria:</label>
                    <select name="mentoria" id="mentoria">
                        <option value="0" disabled selected>Selecione uma mentoria</option>
                        <option value="0">------------</option>
                        {% for mentoria in mentorias %}
                        <option value="{{ mentoria.id }}">{{ mentoria }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block block-display">Poderá ser feito posteriormente.</span>
                    <!-- <label for="duracao_mentoria">Data de encerramento da mentoria com o aluno: </label>
                    <input type="date" name="duracao_mentoria" id="duracao_mentoria"> -->
                </div>
                <div class="form-box">                    
                    <button class="block-display div-margin-top" type="submit">Cadastrar</button>
                </div>
            </form>            
        </div>
        <div class="div-margin-top">            
            <a onclick="history.back()">Voltar</a>
        </div>
    </div>
    <div class="home-direita"></div>
</section>
<script>
    const mentoriaSelect = document.getElementById('mentoria');    
    mentoriaSelect.addEventListener("change", (e)=>{
        if(e.target.value !== '0'){
            document.getElementById('duracao_mentoria').setAttribute('required', 'true');
        } else {document.getElementById('duracao_mentoria').removeAttribute('required');}
    });    
    const isNumericInput = (event) => {
        const key = event.keyCode;
        return ((key >= 48 && key <= 57) || // Allow number line
            (key >= 96 && key <= 105) // Allow number pad
        );
    };

    const isModifierKey = (event) => {
        const key = event.keyCode;
        return (event.shiftKey === true || key === 35 || key === 36) || // Allow Shift, Home, End
            (key === 8 || key === 9 || key === 13 || key === 46) || // Allow Backspace, Tab, Enter, Delete
            (key > 36 && key < 41) || // Allow left, up, right, down
            (
                // Allow Ctrl/Command + A,C,V,X,Z
                (event.ctrlKey === true || event.metaKey === true) &&
                (key === 65 || key === 67 || key === 86 || key === 88 || key === 90)
            )
    };

    const enforceFormat = (event) => {
        // Input must be of a valid number format or a modifier key, and not longer than ten digits
        if(!isNumericInput(event) && !isModifierKey(event)){
            event.preventDefault();
        }
    };

    const formatToPhone = (event) => {
        if(isModifierKey(event)) {return;}

        const input = event.target.value.replace(/\D/g,'').substring(0,11); // First ten digits of input only
        const areaCode = input.substring(0,2);
        const middle = input.substring(2,7);
        const last = input.substring(7,12);

        if(input.length > 7){event.target.value = `(${areaCode}) ${middle}${last}`;}
        else if(input.length > 2){event.target.value = `(${areaCode}) ${middle}`;}
        else if(input.length > 0){event.target.value = `(${areaCode}`;}
    };

    const inputElement = document.getElementById('id_telefone_aluno');
    inputElement.addEventListener('keydown',enforceFormat);
    inputElement.addEventListener('keyup',formatToPhone);
</script>
{% endblock %}
