{% extends 'base_b.html' %}
{% load i18n %}

{% load humanize %}
{% load static %}



{% block title %}
  Painel da matrícula  
{% endblock title %}


{% block content %}

<section>
	<div>&nbsp;</div>
	<div class="home-wrap">
		<div class="home-lateral"></div>
		<div class="home-principal">
            <div class="two-parts-content">
				<div>
					<div>
						{% if login_aluno.nome_aluno_login %}<h1>{{ login_aluno.nome_aluno_login  }}</h1>{% endif %}
						<h2>{{ login_aluno.email_aluno_login }}</h2>
					</div>
                    <div class="row-flex-start">
                        <div style="color: blue;">
                            <a class="menu" href="{% url 'mentorias:aluno_matriculas' login_aluno.pk %}">Menu principal</a> /
                            <a class="menu" href="{% url 'mentorias:alterar_senha_aluno_login' login_aluno.pk %}">Alterar senha</a>
                        </div>
                    </div>
                    <div class="column-flex-streght">
                        <form class="basic-form" action="" method="POST">
						{% csrf_token %}
                            {{ form }}
                            <button type="submit">Alterar</button>
                        </form>
					</div>
            	</div>
            <div></div>
        </div>
		<div class="home-direita"></div>
	</div>
</section>    
<script>
    const isNumericInput = (event) => {
        const key = event.keyCode;
        return ((key >= 48 && key <= 57) || // Allow number line
            (key >= 96 && key <= 105) // Allow number pad
        );
    };

    const isModifierKey = (event) => {
        const key = event.keyCode;
        return (event.shiftKey === true || key === 35 || key === 36) || // Allow Shift, Home, End
            (key === 8 || key === 9 || key === 13 || key === 46) || // Allow Backspace, Tab, Enter, Delete
            (key > 36 && key < 41) || // Allow left, up, right, down
            (
                // Allow Ctrl/Command + A,C,V,X,Z
                (event.ctrlKey === true || event.metaKey === true) &&
                (key === 65 || key === 67 || key === 86 || key === 88 || key === 90)
            )
    };

    const enforceFormat = (event) => {
        // Input must be of a valid number format or a modifier key, and not longer than ten digits
        if(!isNumericInput(event) && !isModifierKey(event)){
            event.preventDefault();
        }
    };

    const formatToPhone = (event) => {
        if(isModifierKey(event)) {return;}

        const input = event.target.value.replace(/\D/g,'').substring(0,11); // First ten digits of input only
        const areaCode = input.substring(0,2);
        const middle = input.substring(2,7);
        const last = input.substring(7,12);

        if(input.length > 7){event.target.value = `(${areaCode}) ${middle}${last}`;}
        else if(input.length > 2){event.target.value = `(${areaCode}) ${middle}`;}
        else if(input.length > 0){event.target.value = `(${areaCode}`;}
    };

    const inputElement = document.getElementById('id_telefone_aluno_login');
    inputElement.addEventListener('keydown',enforceFormat);
    inputElement.addEventListener('keyup',formatToPhone);
</script>
{% endblock %}
