{% extends 'base_b.html' %}
{% load i18n %}

{% load humanize %}
{% load static %}



{% block title %}
  Painel da matrícula  
{% endblock title %}


{% block content %}

<section id="sectionMatricula" class="modal-open">	
	<div>&nbsp;</div>
	<div class="home-wrap" id="painelCabecalho" style="display: none;">
		<div class="home-lateral"></div>
		<div class="home-principal">
			<div class="home-panel-flex">
				<h1>Resumo da matrícula Nº {{ matricula.pk }}.</h1>
				<div class="saving-sign">
					<i>Salvando alterações...</i>
					{% csrf_token %}
				</div>
			</div>
			<div class="column-flex-streght">
				<p>
					<b>Mentoria:</b>
					{{ mentoria }}
				</p>
				<p><b> Início em:</b>
					{{ matricula.criada_em|date:'SHORT_DATE_FORMAT' }}
				</p>
				<p><b> Encerra em:</b>
					{{ matricula.encerra_em|date:'SHORT_DATE_FORMAT' }}
				</p>
			</div>
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link" href="#" onclick="togglePainel('painel', 'painelApresentacaoAlunoAnonimo')">Apresentação</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="#" onclick="togglePainel('painel', 'painelMatriculaAlunoAnonimo')">Desempenho</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" onclick="togglePainel('painel', 'painelArquivoLinkAlunoAnonimo')">Arquivos e Links</a>
				</li>
			</ul>
		</div>
		<div class="home-direita"></div>
	</div>
	<div id="painelApresentacaoAlunoAnonimo" style="display: none;" class="home-wrap painel">
		<div class="home-lateral"></div>
		<div class="home-principal">
			<h2 class="div-margin-top">{{ mentoria.titulo }}</h2>
			<p>{{ mentoria.resumo_mentoria|safe }}</p>
		</div>
		<div class="home-direita"></div>
	</div>
	<div id="painelArquivoLinkAlunoAnonimo" style="display: none;" class="home-wrap painel">
		<div class="home-lateral"></div>
		<div class="home-principal" id="">
			<h3 class="div-margin-top">Arquivos e Links</h3>
			<div class="two-parts-content div-margin-top">
                <fieldset>					
                    <legend>
                        <b>Arquivos compartilhados neste mentoria:</b>
                    </legend>
					{% if matricula.arquivos_matricula.all %}
					<h4>Arquivos do aluno</h4>
					{% for arquivo in matricula.arquivos_matricula.all %}
						{% if matricula.mentoria == mentoria %}
						<li id="arquivo-p-{{arquivo.id}}"
						class="overflow-treatment" style="margin-bottom: 1rem;padding-top: 0;line-height:1.3rem;">
							<a href="{{ arquivo.arquivo_mentoria.url}}" target="_blank">
								{{ arquivo }}
							</a>
						</li>
						{% endif %}
					{% endfor %}
				{% endif %}				
                    {% if mentoria.mentoria_arquivos %}
					<h4>Arquivos da mentoria em geral</h4>
                    <ul>
                        {% for arquivo in mentoria.mentoria_arquivos.all %}
                        <li id="arquivo-p-{{arquivo.id}}"
                            class="overflow-treatment" style="margin-bottom: 1rem;padding-top: 0;line-height:1.3rem;">
                            <a href="{{ arquivo.arquivo_mentoria.url}}" target="_blank">
                                {{ arquivo }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </fieldset>
                <fieldset>
                    <legend><b>Links compartilhados nesta mentoria:</b></legend>
                    {% if mentoria.links_externos.all %}
                    <ul style="list-style-type: square;">
                        {% for link in mentoria.links_externos.all %}
                        <li id="link-{{link.id}}"
                        class="overflow-treatment" style="margin-bottom: 1rem;padding-top: 0;line-height:1.3rem;">
                        <a href="{{ link.link_url }}" target="_blank">
                            {{ link }}
                        </a>
                        </li>                   
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>Nenhum link cadastrado</p>
                    {% endif %}                    
                </fieldset>
			</div>
		</div>
		<div class="home-direita"></div>
	</div>
	<div id="painelMatriculaAlunoAnonimo" style="display: none;" class="home-wrap painel">
		<div class="home-lateral"></div>
		<div class="home-principal" id="">
			<div class="div-margin-top">
				<h3 class="block-display">Estatísticas</h3>
				<a href="{% url 'mentorias:login_alunos'%}">Login do Aluno</a>
			</div>
			<div class="div-margin-top">
				{% if matricula.retorna_media_matricula.1 %}
				<div class="chart-container" style="position: relative; height:40vh; width:80vw">                
					<canvas id="myChart" width="400" height="100"></canvas> 
				</div>
				<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
				<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
				<script>
					$.get('{% url "mentorias:line_chart_matricula" matricula.pk %}', function(data) {
						var ctx = $("#myChart").get(0).getContext("2d");
						const tipo = (data['labels'].length == 1) ? 'bar': 'line'
						let chart = new Chart(ctx, {
							type: tipo,
							data: data,
							title: 'Desempenho acumulado - %',
							bezierCurve : true,
							options: {
								responsive: true,
								maintainAspectRatio: false,
								title: {
									display: true,
									position: 'top',
									text: 'Evolução do desempenho - %',
									fontSize: 28                                
								},
								tooltips: {
									titleFontSize: 20,
									bodyFontSize: 20                                 
								},
								legend: {
									labels: {                 
										fontSize: 14
									},
								},
								scales: {
									yAxes: [{
										display: true,
										ticks: {
											suggestedMin: 0,
											suggestedMax: 100,
											fontSize: 20
										}
									}],
									xAxes: [{
										ticks: {fontSize: 20}
									}]
								},                            
								elements: {
										line: {
												fill: false
										},
										point: {
											radius: 6,
											hoverRadius: 8,
										}
									},
								onHover: (event, chartElement) => {
									event.target.style.cursor = chartElement[0] ? 'pointer' : 'default';
									}
							},                      
						}
						)
					});                
				</script>
				{% else %}
				<p>Aguardando resposta do aluno</p>
				{% endif %}
			</div>
			<div class="div-margin-top">
				<div class="div-rows">
					<div>
						<h3>Simulados do aluno</h3>
						<table>
							<thead>
								<tr>
									<th>Nº</th>
									<th>Simulado</th>
									<th>Data aplicação</th>
									<th>Data resposta</th>
									<th>Qtd questões</th>
									<th>Acertos</th>
									<th>Erros</th>
									<th>Desempenho</th>
									<th>Detalhar</th>
								</tr>
							</thead>
							<tbody>                            
								{% for aplicacao in aplicacoes %}                    
								<tr>
									<td>{{ aplicacao.simulado.id }}</td>
									<td>                                    
										{{ aplicacao.simulado }}</p>
									</td>
									<td> 
										{{aplicacao.aplicacao_agendada|date:"SHORT_DATE_FORMAT"}}
									</td>
									<td>
										{% if aplicacao.data_resposta %}
										{{ aplicacao.data_resposta|date:"SHORT_DATE_FORMAT" }}
										{% else %}
										__/__/____
										{% endif %}
									</td>
									<td>{{aplicacao.simulado.gabarito.total.questoes}}</td>
									<td>{{ aplicacao.resposta_alunos.resumo.acertos }}</td>
									<td>{{ aplicacao.resposta_alunos.resumo.erros }}</td>
									<td>
										{% if aplicacao.resposta_alunos %}
										<div class="container-progress">
											<div class="skill" value="{{ aplicacao.resposta_alunos.resumo.percentual }}">{{aplicacao.resposta_alunos.resumo.percentual}}%</div>
										</div>
										{% else %}
										N/A
										{% endif %}
									</td>
									<td><a href="{% url 'mentorias:aluno_anonimo_aplicacao' aplicacao.pk %}"><img style="height:2rem;" src="{% get_media_prefix %}system/clipboard.svg" alt="Clipboard"></a></td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>    
		<div class="home-direita"></div>
	</div>
</section>    
<div id="id03" class="modal-aplicacao">
	<div class="div-rows div-content-centered">
		<h4>Entre para acessar o painel da matrícula.</h4>        
		<form class="basic-form">
			{% csrf_token %}
			<label for="email"><h4>Matrícula</h4></label>
			<h3>{{ matricula.pk }}</h3>
			<label for="senha"><h4>Senha:</h4></label>
			<input type="password" name="senha" id="senhaMatricula">
			<span class="help-block block-display">Informe a senha repassada pelo mentor.</span>
			<p id="modal-try-later" class="error-try-later">
				Um erro aconteceu. Tente novamente mais tarde.
			</p>
			<p id="infoErrada" class="error-try-later"></p>
		</form>
		<div>
			<button id="btnProsseguir" onclick="confereInformacoes()">Prosseguir</button>
		</div>
	</div>
</div>
<script>
	if('{{ session_ok }}' == 'True'){
		document.getElementById('id03').style.display= 'none';
		document.getElementById('sectionMatricula').classList.toggle('modal-open');
		document.getElementById('painelMatriculaAlunoAnonimo').style.display = 'grid';
		document.getElementById('painelCabecalho').style.display = 'grid';
	};
	const skill = document.getElementsByClassName('skill');
	Array.from(skill).forEach((el) => { 
		const porcento = el.getAttribute('value').replace(',', '.');
		el.style.width = porcento + '%';    
		if(Number(porcento) < 50 ) {
			el.style.backgroundColor = 'red';
		} else if( 50 <= Number(porcento) && Number(porcento) < 80 ) {
			el.style.backgroundColor = 'yellow';
		} else {
			el.style.backgroundColor = 'green';
			el.style.color = 'white';
		}
	});
	const navItems = document.getElementsByClassName('nav-link');
	Array.from(navItems).forEach(e =>{
		e.addEventListener('click', (el) => {
			Array.from(navItems).forEach(el =>{
				el.classList.remove('active');
			});
			e.classList.add('active');
		})
	})
</script>
{% endblock %}
