<!-- cadastro.html -->
<table class="table-small">
    <thead>
        <!-- <tr><th colspan="1">Resumo dos preços</th></tr> -->
        <tr>
            <!-- <th>Faixas de preços</th> -->
            <!-- <th>Plano</th> -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <!-- <td>
                {% for faixa in plano_disponivel.precos.display.values %}
                
                {{ faixa.1 }}....
                {% if oferta_percentual %} <s>{{ faixa.2 }}</s> por {{ faixa.2|aplica_oferta:oferta_percentual }} {% else %} {{ faixa.2 }} {% endif %}
                <br>
                {% empty %}
                ___
                {% endfor %}
                
            </td> -->
            <td>
                <h2>{{ plano_disponivel.titulo }}</h2>
                <h3>Pague na quantidade de aluno que utilizar!</h3>
                <h4>Quanto mais aluno, mais desconto!</h4>
                <h4>Sem taxa de implantação!</h4>
                <h4>Sem mensalidade!</h4>                                 
            </td>
        </tr>
    </tbody>
    <!-- <thead>
        <tr>
            <th>Atividade</th>                            
            <th>Quando ocorre o gasto</th>
        </tr>
    </thead>
    <tbody>
        <tr>                            
            <td>Aplicação de um simulado</td>
            <td>Mês em que ocorreu a resposta do aluno</td>
        </tr>
        <tr>
            <td>Novo plano de estudo do aluno(em implantação)</td>
            <td>Mês em que ocorrer a criação do plano.</td>
        </tr>
        <tr>
            <td>Envio de formulário do aluno(em implantação)</td>
            <td>Mês em que ocorrer o preenchimento pelo aluno</td>
        </tr>
    </tbody>
    <tfoot>
    </tfoot> -->
</table>    
<!-- fim cadastro.html -->


<!-- oferta_detalhe.html -->
{% if oferta_percentual %}
<div class="banner-destaque div-margin-top">
    <h2>{{ oferta_disponivel.titulo  }}</h2>
    <h2>{{ oferta_disponivel.pequeno_anuncio }}</h2>
</div>
{% endif %}
<div  class="div-margin-top">                
    {% if request.user.is_authenticated %}
    <a href="{% url 'assinaturas:assinar_plano' %}" class="btn-oferta">QUERO PARTICIPAR!</a>
    {% else %}
    <a href="{% url 'usuarios:cadastro' %}" class="btn-oferta">QUERO PARTICIPAR!</a>
    {% endif %}
</div>
<div class="div-margin-top">
    {% if request.user.is_authenticated %}
    <a href="{% url 'assinaturas:assinar_plano' %}" class="btn-oferta">QUERO PARTICIPAR!</a>
    {% else %}
    <a href="{% url 'usuarios:cadastro' %}" class="btn-oferta">QUERO PARTICIPAR!</a>
    {% endif %}
</div>

<!--  -->

<!-- matricula detalhe, cadastrar aluno -->

data = datetime(int(data[0]), int(data[1]), int(data[2]), hour=datetime.now().hour, minute=datetime.now().minute, tzinfo=zoneinfo.ZoneInfo(settings.TIME_ZONE)) 
<!--  -->

<!-- aluno_detalhe.html -->
<fieldset>
    <legend>Plano atual</legend>				
    <p>Válido até: {{ assinatura_atual.encerra_em|date:"SHORT_DATE_FORMAT" }}.</p>
    <!-- <p>Renovação automática: {{ assinatura_atual.0.renovacao_automatica|boolean_filter }}.</p> -->
    <table>
        <thead>
            <tr>
                <th colspan="3">PREÇOS CONTRATADOS </th>
            </tr>
            <tr>
                <th>Faixas de tarifas</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>                    
            {% for faixa in assinatura_atual.log_precos_contratados.display.values %}
            <tr>
                <td>{{ faixa.1 }} </td>
                <td>{{ faixa.2 }} </td>                            
            </tr>                            
            {% empty %}
            <tr>
                <td colspan="4">Nenhuma custo até aqui</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</fieldset>
<p class="div-margin-top"><b>Exemplo 1:</b><br>
    Mentor com vários alunos ativos.<br>
    <!-- Sendo vários alunos respondendo simulado(um ou vários) no mês.<br> -->
    <!-- Sendo vários alunos recebendo plano de estudo(um ou vários) no mês.<br> -->
    Sendo um total de 15 alunos distintos com atividade no mês.<br>
    Gasto total com 15 alunos no mês:<br>
    <table class="table-small">
        <thead>
            <tr>
                <th>Tarifa A</th>
                <th>Tarifa B</th>
                <th>Tarifa C</th>
                <th>Tarifa D</th>
                <th>Tarifa E</th>
                <th>Tarifa F</th>
                <th>Tarifa G</th>
                <th>Tarifa H</th>
                <th>TOTAL</th>
            </tr>                            
        </thead>
        <tbody>
            <tr>
                <td>2 x R${{faixas.0}}</td>
                <td>3 x R${{faixas.1}}</td>
                <td>5 X R${{faixas.2}}</td>
                <td>5 X R${{faixas.3}}</td>
                <td>0 x R${{faixas.4}}</td>
                <td>0 x R${{faixas.5}}</td>
                <td>0 x R${{faixas.6}}</td>
                <td>0 x R${{faixas.7}}</td>
                <td>R$ {{valor_total}}</td>
            </tr>                            
        </tbody>
    </table>
</p>
<!--  -->

<!-- matricula_detalhe/desempenho_aluno -->

<p id="spanSenhaContent" class="row-flex-start">                        
    <span id="senhaDesfarce">&#x2022; &#x2022; &#x2022; &#x2022; &#x2022; &#x2022; &#x2022; &#x2022;</span>
    <span id="spanSenhaMatricula" style="display: none;">                            
        <span id="senhaValue">{{ matricula.senha_do_aluno }}</span>
        <span><a href="javascript:void(0);" onclick="copyClipboard('senhaValue')"><i class="fa-regular fa-copy"></i></a> </span>
        <span style="background-color: green;" id="tooltipCopiado" class="tooltiptextPos"><nobr>Copiado!</nobr></span>
    </span>                        
</p>
<!--  -->

<!-- resultado_detalhe.html -->
# Resposta, gabarito e estatística de questões
<div>
    <div>
        <ol id="listaId" class="list-columns">
            {% for item, questao in aplicacao.resposta_alunos.questoes.items %}
            <li>
                {% if questao.gabarito == questao.resposta or questao.gabarito == 'X' %}
                <span>Gabarito: {{questao.gabarito}}</span>&nbsp;&nbsp;&nbsp;<span style="color:green;margin-right:1.5rem;">Sua resposta: {{ questao.resposta }}</span>
                {% else %}
                <span>Gabarito: {{questao.gabarito}}</span>&nbsp;&nbsp;&nbsp;<span style="color:red;margin-right:1.5rem;">Sua resposta: {{ questao.resposta }}</span>
                {% endif %}
                {{ alternativas|alternativas:forloop.counter|safe }}
            </li>
            {% endfor %}
        </ol>
    </div>
</div>    

<!-- -->

<!-- Aplicacao individual.html -->
# no_prazo = True if matricula.encerra_em.astimezone() > datetime.now(tz=zoneinfo.ZoneInfo(settings.TIME_ZONE)) else False 

<!---->

# assinatura_atual = assinaturas_mentor.filter(ativa=True, encerra_em__gte=datetime.now(tz=zoneinfo.ZoneInfo(settings.TIME_ZONE))).order_by('-pk')
