{% extends 'base.html'%}
{% load i18n %}
{% load static %}
{% block content %} 

<section class="home-wrap">
    <div class=""></div>
    <div class="">

			  <form method="post" class="basic-form" action="{% url 'login' %}">
				  {% csrf_token %}
				<h2 class="text-center">Log in to your account</h2>
				{{ form }}				
				<button type="submit" value="Login" class="btn btn-primary full-width"> 
					{% trans "Entrar" %}
				</button>
				<hr>
				<p class="text-center"><a href="{% url 'password_reset' %}">Esqueci a senha</a></p>
				<p class="text-center"><a href="{% url 'usuarios:cadastro' %}">Quero me cadastrar</a></p>

			</form>
			

    </div>
    <div class=""></div>
</section>







{% endblock %}

