{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<!--Reset Password-->
<section class="home-wrap">
	<div class=""></div>

	<div>
		<h5 class=""> {% trans 'Recuperação da senha de acesso'%} </h5>
		<hr>
		<p>{% blocktrans trimmed %}
			Esqueceu sua senha? Insira seu endereço de e-mail abaixo e
			enviaremos instruções para configurar um novo.
			{% endblocktrans %}
		</p>
		<form class="basic-form" method="POST" action=".">
			{% csrf_token %}
			{{ form }}
			<button type="submit">{% trans 'Enviar email'%}</button>
		</form>
	</div>
</section>
{% endblock %}
