{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<section class="home-wrap">
  <div class></div>
  <div class="hom-principal">
    <!--Password reset sent-->

    <h5 class>{% trans 'Enviado email para recuperação da senha'%}</h5>
    <hr>
    <p>
      {% blocktrans %}
      Enviamos por e-mail instruções para definir sua senha, se
      existir uma conta com o e-mail que você digitou. Você deve recebê-los em
      breve.
      {% endblocktrans %}
      <br>
      {% blocktrans %}
      Se você não receber um e-mail, certifique-se de inserir o
      endereço com o qual se registrou e verifique sua pasta de spam.
      {% endblocktrans %}
    </p>
  </div>
  <div></div>
</section>
{% endblock %}