{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{% if request.user.is_authenticated %}
<script>
    window.location.href = "{% url 'usuarios:home' %}";
</script>
{% endif %}
<!--Password Reset Confirm-->
<section class="home-wrap">
    <div class=""></div>

    <div>
        <h5 class="">{% trans 'Confirmação'%}</h5>
        <hr>
        <p>{% trans 'Por favor, entre com uma nova senha para sua conta.'%}</p>
        <form class="basic-form" method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="block-display">{% trans 'Salvar alteração'%}</button>
        </form>
    </div>
    <div></div>
</section>
{% endblock %}