{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<!--Password Reset Confirm-->
<section class="home-wrap">
    <div class=""></div>

    <div id="div-center">
        <h5 class="">{% trans 'Confirmação'%}</h5>
        <hr>
        <p>{% trans 'Por favor, entre com uma nova senha para sua conta.'%}</p>
        <form class="basic-form" method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit">{% trans 'Salvar alteração'%}</button>
        </form>
    </div>
    <div></div>
</section>
{% endblock %}