{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{% if request.user.is_authenticated %}
<script>
    window.location.href = "{% url 'usuarios:home_mentor' %}";
</script>
{% endif %}
<!--Reset Password-->
<section class="home-wrap">
	<div class="home-lateral"></div>

	<div class="home-principal">
		<h5 class=""> {% trans 'Recuperação da senha de acesso'%} </h5>
		<hr>
		<p>{% blocktrans trimmed %}
			Esqueceu sua senha? Insira seu endereço de e-mail abaixo e
			enviaremos instruções para configurar um novo.
			{% endblocktrans %}
		</p>
		<form class="basic-form" method="POST" action=".">
			{% csrf_token %}
			{{ form }}
			<button type="submit" class="small-btn block-display">{% trans 'Enviar email'%}</button>
		</form>
		<a onclick="history.back()">Voltar</a>
	</div>
	<div class="home-direita"></div>
</section>
{% endblock %}
