{% load static %}
{% load i18n %}
<style>
    .link-sem-sublinhado:hover {
        text-decoration: none;
    }
</style>
<nav>
    <div class="div-content-centered">
        <a href="https://www.expertzone.com.br" class="link-sem-sublinhado">            
            <img src="{% get_media_prefix %}system/expertzone.png" height="50">
            <img src="{% get_media_prefix %}system/expertzonetext.png" height="50">            
        </a>
        {% if request.session.aluno_entrou %}        
        <a href="javascript:saiDaSessao()">Sair</a>
        <div>{% csrf_token %}</div>
        {% endif %}
    </div>    
</nav>
