{% load static %}
{% load i18n %}

<nav>
    <div>
        <a href="https://www.expertzone.com.br">
            <img src="{% get_media_prefix %}system/expertzone.png" height="50">
            <img id="logo2" src="{% get_media_prefix %}system/expertzonetext.png" height="50">
        </a>
    </div>
    <ul>
        {% if user.is_anonymous %}        
        <li><a href="{% url 'login'%}">Entrar</a></li>
        <li><a href="{% url 'usuarios:cadastro'%}"> Criar conta</a></li>
        {% else %}
        <li class="avatar-dropdown">
            <div id="box-img" class="avatar-div" style="background-image: url('{% get_media_prefix %}system/box.svg');"></div>
            <div id="dropdown-menu-box">
                <a href="{% url 'usuarios:home_mentor' %}" class="dropdown-frame div-rows">
                    <img src="{% get_media_prefix%}system/mentor_img.svg" alt="Imagem de braços dados e mãos apertadas" class="img-dropdown-menu">
                    <h5>Assinatura</h5>
                </a>
            </div>
        </li>
        <li class="avatar-dropdown">
            {% if not user.image %}
            <div id="avatar-div" class="avatar-div" style="background-image: url('{% get_media_prefix %}system/default.png');"></div>
            {% else %}
            <div id="avatar-div" class="avatar-div" style="background-image: url('{{user.image.url}}');"></div>                    
            {% endif %}
            <div id="dropdown-menu">
                <p><a href="{% url 'usuarios:home_mentor' %}">{{ request.user }}</a></p>
                <a href="{% url 'usuarios:profile_view' %}">{% trans 'Perfil' %}</a>
                <a href="{% url 'logout' %}">Sair</a>
            </div>
            <script>
                document.addEventListener('click', e => {
                    const dpMenu = document.getElementById('dropdown-menu')
                    if(e.target.id === 'avatar-div') {
                        document.getElementById('dropdown-menu-box').style.display = 'none';
                        dpMenu.style.display = 'flex';
                    }
                dpMenu.addEventListener('mouseleave', e => {
                    dpMenu.style.display = 'none';
                })
                });
                document.addEventListener('click', e => {
                    const dpMenuBox = document.getElementById('dropdown-menu-box')
                    if(e.target.id === 'box-img') {
                        document.getElementById('dropdown-menu').style.display = 'none';
                        dpMenuBox.style.display = 'flex';
                    }
                    dpMenuBox.addEventListener('mouseleave', e => {
                    dpMenuBox.style.display = 'none';
                })
                });
            </script>
        </li>
        {% endif %}
    </ul>       
</nav>
