{% extends 'base_b.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% block content %}
<section id="sectionResposta" class="home-wrap  div-margin-top modal-open">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="home-panel-flex"></div>
        <div class="column-flex-streght">
            {% csrf_token %}
        </div>
        <div class="column-flex-center div-margin-top">
           <h3>{{aplicacao.simulado}}</h3>
           <p><img id="imgLoading" class="loading-img" src="{% get_media_prefix %}/loading.gif" alt="Representação de carregamento da página"></p>
        </div>
        <div id="painelEnviarResposta" class="div-margin-top div-rows" style="display: none;">
            <div class="column-flex-center">
                <p>Formulário de envio de respostas do formulário.</p>
                <div class="saving-sign">
                    <i>Salvando alterações...</i>
                </div>
            </div>          
            <div class="div-margin-top column-flex-center">
                <ol id="listaId" class="columns">
                    {% for item, questao in aplicacao.simulado.gabarito.questoes.items %}
                    <li>
                        <input class="inputs"  autocomplete="off" pattern="[AaBbCcDdEe]+"  
                        type="text" name="resposta-{{item}}" id="inpt-{{item}}" maxlength="1" 
                        size="2" style="text-transform:uppercase;text-align:center;" required> 
                    </li>
                    {% endfor %}
                </ol>
            </div>
            <div class="column-flex-center div-margin-top">
                <button class="block-display" onclick="enviarRespostas(respostasJson, questoesQtd, alertaSonoro)">Finalizar</button>
            </div>
        </div>
        <div id="painelResultadoAluno" class="div-margin-top div-rows" style="display: none;">
            <div class="column-flex-center">
                <h3>Seu resultado neste simulado</h3>
            </div>
            <div class="div-rows div-margin-top">
                <div class="div-content-centered">
                    <h4>Respostas</h4>
                    <p>#. Gabarito / Resposta do Aluno</p>
                </div>
                <div class="centered-content">
                    <div>
                        <ol id="listaId2" class="columns">
                            {% for item, questao in aplicacao.resposta_alunos.questoes.items %}
                            <li style="margin-right: 4rem;">
                                {% if questao.gabarito == questao.resposta %}
                                <span style="margin: 0 1rem;">{{questao.gabarito}}</span><span style="color:green;">{{ questao.resposta }}</span>
                                {% else %}
                                <span style="margin: 0 1rem;">{{questao.gabarito}}</span><span style="color:red;">{{ questao.resposta }}</span>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
                <div class="div-margin-top">
                    <div class="div-content-centered">
                        <h4>Desempenho resumido</h4>
                        <p>
                            Acertos: {{aplicacao.resposta_alunos.resumo.acertos}}.
                            Erros: {{aplicacao.resposta_alunos.resumo.erros }}. 
                            Anuladas: {{aplicacao.resposta_alunos.resumo.anulada}}.                            
                            Percentual de acertos: {{aplicacao.resposta_alunos.resumo.percentual}}%.
                        </p>
                    </div>
                </div>
                <div class="div-margin-top">
                    <div>
                        <div class="div-content-centered">
                            <h4>Desempenho analítico</h4>
                            <p>Pontuação máxima: {{ aplicacao.resposta_alunos.analitico.total.total_pontos}}.</p>
                        </div>
                        <table class="size-160px">
                            <thead>
                                <tr>
                                    <th>Matéria</th>
                                    <th>Quantidade</th>
                                    <th>Peso</th>
                                    <th>Acertos</th>
                                    <th>Pontos</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for materia, dados in aplicacao.resposta_alunos.analitico.questoes.items %}
                                <tr>
                                    <td>
                                        {{ materia }}
                                    </td>
                                    <td>{{ dados.quantidade }}</td>
                                    <td>{{ dados.peso }}</td>
                                    <td>{{ dados.acertos }}</td>
                                    <td>{{ dados.pontos }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>Total de pontos</th>
                                    <th>
                                        {{ aplicacao.resposta_alunos.analitico.total.pontos_ponderado}} 
                                    </th>
                                </tr>
                            </tfoot>
                        </table>                       
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <div class="home-direita"></div>
</section>
<div id="id03" class="modal_aplicacao">
    <div class="div-rows div-content-centered">
        <h4>Entre para informar as suas resposta do simulado.</h4>        
        <form action="" class="basic-form">
            {% csrf_token %}
            <label for="email"><h4>E-mail:</h4></label>
            <input type="email" name="email" id="emailAluno">            
            <label for="senha"><h4>Senha:</h4></label>
            <input type="text" name="senha" id="senhaAplicacao">
            <span class="help-block block-display">Informe a senha recebida no seu email.</span>
            <p id="modal-try-later" class="error-try-later">
                Um erro aconteceu. Tente novamente mais tarde.
            </p>
            <p id="infoErrada" class="error-try-later"></p>
        </form>
        <div>
            <button id="btnProsseguir" onclick="confereInformacoes('{{ respondido }}')">Prosseguir</button>
        </div>
    </div>
</div>
<script>    
    if('{{ session_ok }}' == 'True'){
        document.getElementById('sectionResposta').classList.toggle('modal-open');
        document.getElementById('id03').style.display= 'none';
        if('{{ respondido }}' == 'True'){
            document.getElementById('painelResultadoAluno').style.display = 'block';
        } else {
            document.getElementById('painelEnviarResposta').style.display = 'block';   
        }
    };

    let alertaSonoro = new Audio("{% get_media_prefix %}/som_de_alerta.wav");
    let finishedAudio = new Audio("{% get_media_prefix %}/finished.mp3");
    let listaId = document.getElementById('listaId');
    let listaId2 = document.getElementById('listaId2');
    let questoesQtd = '{{aplicacao.simulado.gabarito.total.questoes}}';
    listaId.style.columnCount = questoesQtd / 10;
    listaId2.style.columnCount = questoesQtd / 10;
    var elts = document.getElementsByClassName('inputs')
    let respostasJson = {};
    Array.from(elts).forEach(function(elt, index, array){
        elt.addEventListener("keyup", function(event) {  
            respostasJson[index+1] = elt.value.toUpperCase();
            // Number 13 is the "Enter" key on the keyboard
            if (elt.value.length == 1) {
                if (elt.value.match(/[AaBbCcDdEe]/g)) {
                    if (index+1 == questoesQtd) {
                        finishedAudio.play();
                        return
                    };
                    // Focus on the next sibling
                    array[index + 1].focus();
                } else {                    
                    alertaSonoro.play();
                }
            }
        });
    })
</script>
{% endblock %}
