{% extends 'base_b.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% block content %}
<section id="sectionResposta" class="home-wrap modal-open">
    <div class="home-lateral"></div>
    <div class="home-principal">        
        <div class="column-flex-streght">
            {% csrf_token %}
        </div>
        <div class="div-content-centered">
           <h1>{{aplicacao.simulado}}</h1>
           <p><b>Baixar simulado:</b> <a class="menu" href="{{ aplicacao.simulado.arquivo_prova.url }}" target="_blank">{{ aplicacao.simulado }}</a></p>
           <p><img id="imgLoading" class="loading-img" src="{% get_media_prefix %}system/loading.gif" alt="Representação de carregamento da página"></p>
        </div>
        <div class="div-content-centered">
            <p><a href="{% url 'mentorias:matricula_aluno_anonimo' aplicacao.matricula.pk %}" class="menu">Ver painel do Aluno</a></p>
        </div>        
        <div id="painelEnviarResposta" class="div-margin-top div-rows" style="display: none;">
            <div class="div-content-centered">
                <p>Formulário de envio de respostas do formulário.</p>
                <div class="saving-sign">
                    <i>Salvando alterações...</i>
                </div>
            </div>          
            <div class="div-margin-top row-flex-center">
                <ol id="listaId" class="list-columns">
                    {% for item, questao in aplicacao.simulado.gabarito.questoes.items %}
                    <li>
                        <input class="inputs"  autocomplete="off" pattern="[AaBbCcDdEe]+"  
                        type="text" name="resposta-{{item}}" id="inpt-{{item}}" maxlength="1" 
                        size="2" style="text-transform:uppercase;text-align:center;margin-right: 2rem;" required> 
                    </li>
                    {% endfor %}
                </ol>
            </div>
            <div class="row-flex-center div-margin-top">
                <button class="block-display" onclick="enviarRespostas(respostasJson, questoesQtd, alertaSonoro)">Finalizar</button>
            </div>
        </div>
        <div id="painelResultadoAluno" class="div-rows div-margin-top" style="display: none;">
            <div class="div-rows">
                <div class="div-margin-top">
                    <h4>Desempenho resumido</h4>
                    <p>
                        Acertos: {{aplicacao.resposta_alunos.resumo.acertos}}.
                        Erros: {{aplicacao.resposta_alunos.resumo.erros }}. 
                        Anuladas: {{aplicacao.resposta_alunos.resumo.anulada}}.                            
                        Percentual de acertos: {{aplicacao.resposta_alunos.resumo.percentual}}%.
                    </p>
                </div>
                <div class="div-margin-top">
                    <div>
                        <h4>Desempenho analítico</h4>
                        <p>Pontuação máxima: {{ aplicacao.resposta_alunos.analitico.total.total_pontos}}.</p>
                    <table>
                        <thead>
                            <tr>
                                <th>Matéria</th>
                                <th>Quantidade</th>
                                <th>Peso</th>
                                <th>Acertos</th>
                                <th>%</th>
                                <th>Pontos</th>                                    
                            </tr>
                        </thead>
                        <tbody>
                            {% for materia, dados in aplicacao.resposta_alunos.analitico.questoes.items %}
                            <tr>
                                <td>
                                    {{ materia }}
                                </td>
                                <td>{{ dados.quantidade }}</td>
                                <td>{{ dados.peso }}</td>
                                <td>{{ dados.acertos }}</td>
                                <td>
                                    <div class="container-progress">                                    
                                        <div id="skill-{{materia.id}}" class="skill" value="{{dados.percentual_acertos}}"></div>
                                    </div>
                                </td>
                                <td>{{ dados.pontos }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>Total de pontos</th>
                                <th>
                                    {{ aplicacao.resposta_alunos.analitico.total.pontos_ponderado}} 
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                    </div>
                </div>
                <div>
                    <h4>Respostas</h4>
                    <p>#. Gabarito Vs. Resposta do Aluno</p>
                </div>
                <div>
                    <ol id="listaId2" class="list-columns">
                        {% for item, questao in aplicacao.resposta_alunos.questoes.items %}
                        <li>
                            {% if questao.gabarito == questao.resposta or questao.gabarito == 'X' %}
                            <span>{{questao.gabarito}}</span>:<span style="color:green;margin-right:1rem;">{{ questao.resposta }}</span>
                            {% else %}
                            <span>{{questao.gabarito}}</span>:<span style="color:red;margin-right:1rem;">{{ questao.resposta }}</span>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>            
        </div>
    </div>
    <div class="home-direita"></div>
</section>
<div id="id03" class="modal_aplicacao">
    <div class="div-rows div-content-centered">
        <h4>Entre para informar as suas resposta do simulado.</h4>        
        <form action="" class="basic-form">
            {% csrf_token %}
            <label for="email"><h4>E-mail:</h4></label>
            <input type="email" name="email" id="emailAluno">            
            <label for="senha"><h4>Senha:</h4></label>
            <input type="text" name="senha" id="senhaAplicacao">
            <span class="help-block block-display">Informe a senha recebida no seu email.</span>
            <p id="modal-try-later" class="error-try-later">
                Um erro aconteceu. Tente novamente mais tarde.
            </p>
            <p id="infoErrada" class="error-try-later"></p>
        </form>
        <div>
            <button id="btnProsseguir" onclick="confereInformacoes('{{ respondido }}')">Prosseguir</button>
        </div>
    </div>
</div>
<script>    
    if('{{ session_ok }}' == 'True'){
        document.getElementById('sectionResposta').classList.toggle('modal-open');
        document.getElementById('id03').style.display= 'none';
        if('{{ respondido }}' == 'True'){
            document.getElementById('painelResultadoAluno').style.display = 'block';
        } else {
            document.getElementById('painelEnviarResposta').style.display = 'block';   
        }
    };

    let alertaSonoro = new Audio("{% get_media_prefix %}system/som_de_alerta.wav");
    let finishedAudio = new Audio("{% get_media_prefix %}system/finished.mp3");
    let listaId = document.getElementById('listaId');
    let listaId2 = document.getElementById('listaId2');
    let questoesQtd = '{{aplicacao.simulado.gabarito.total.questoes}}';
    listaId.style.columnCount = questoesQtd / 10;
    listaId2.style.columnCount = questoesQtd / 10;
    if(screen.width < 560) {
        listaId.style.columnCount = 3;
        listaId2.style.columnCount = 3;
    }
    var elts = document.getElementsByClassName('inputs');
    let respostasJson = {};
    Array.from(elts).forEach(function(elt, index, array){
        elt.addEventListener("keyup", function(event) {  
            respostasJson[index+1] = elt.value.toUpperCase();
            if (elt.value.length == 1) {
                if (elt.value.match(/[AaBbCcDdEe]/g)) {
                    if (index+1 == questoesQtd) {
                        finishedAudio.play();
                        return
                    };
                    // Focus on the next sibling
                    array[index + 1].focus();
                } else {                    
                    alertaSonoro.play();
                }
            }
        });
    });
    const skills = document.getElementsByClassName('skill');
    Array.from(skills).forEach(el => {
        const porcento = el.getAttribute('value').replace(',', '.');
        el.innerHTML = porcento + '%';
        el.style.width = porcento + '%';
        if(Number(porcento) < 50 ) {
            el.style.backgroundColor = 'red';
        } else if( 50 <= Number(porcento) && Number(porcento) < 80 ) {
            el.style.backgroundColor = 'yellow';
        } else {
            el.style.backgroundColor = 'green';
            el.style.color = 'white';
        }
    });
</script>
{% endblock %}
