{% extends 'base_b.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% block content %}
<section id="sectionResposta" class="home-wrap  div-margin-top modal-open">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="home-panel-flex"></div>
        <div class="column-flex-streght">
            {% csrf_token %}
        </div>
        <div class="column-flex-center div-margin-top">
           <h3>{{aplicacao.simulado}}</h3>
        </div> 
        <div class="column-flex-center">
            <p>Formulário de envio de respostas do formulário.</p>
            <div class="saving-sign">
                <i>Salvando alterações...</i>
            </div>
        </div>
        <div class="two-parts-content div-margin-top">            
            <div class="div-rows div-content-centered">
                <table>
                    <thead></thead>
                    <tbody>
                    {% for item, questao in aplicacao.simulado.gabarito.questoes.items %}
                        <tr>
                            <td>{{ item }}</td>
                            <td> ?? </td>
                        </tr>                          
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="div-rows">
                <div class="div-margin-top">
                </div>
            </div>
        </div>
        <div class="div-rows div-margin-top">
        </div>
    </div>
    <div class="home-direita"></div>
</section>
<div id="id03" class="modal_aplicacao">
    <div class="div-rows div-content-centered">
        <h4>Entre para informar as suas resposta do simulado.</h4>        
        <form action="" class="basic-form">
            {% csrf_token %}
            <label for="email"><h4>E-mail:</h4></label>
            <input type="email" name="email" id="emailAluno">            
            <label for="senha"><h4>Senha:</h4></label>
            <input type="text" name="senha" id="senhaAplicacao">
            <span class="help-block block-display">Informe a senha recebida no seu email.</span>
            <p id="modal-try-later" class="error-try-later">
                Um erro aconteceu. Tente novamente mais tarde.
            </p>
            <p id="infoErrada" class="error-try-later"></p>
        </form>
        <div>
            <button id="btnProsseguir" onclick="confereInformacoes()">Prosseguir</button>
        </div>
    </div>
</div>
<script>
    if('{{ session_ok }}' == 'True'){
        document.getElementById('sectionResposta').classList.toggle('modal-open');
        document.getElementById('id03').style.display= 'none';
    };
</script>
{% endblock %}
