{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="div-margin-top">
            <div class="home-panel-flex">
                <h1 class="block-display">Aplicar simulado na mentoria </h1>
                <div class="saving-sign">
                    <i>Salvando alterações...</i>
                </div>
            </div>
        </div>
        <div class="home-panel-flex navegador">
            <a href="{% url 'usuarios:home_mentor' %}">Início</a>
            <p>|</p>            
            <p><a href="{% url 'mentorias:mentorias_mentor' %}"><b>Mentorias</b></a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:alunos' %}">Alunos</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:simulados' %}">Simulados</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:materias' %}">Matérias</a></p>
        </div>        
        <div class="home-content-flex div-margin-top"> 
            <h2><a href="{% url 'mentorias:mentoria_detalhe' mentoria.pk %}">{{ mentoria }}</a></h2>               
            {% if not simulados %}
            <h2>Nenhum simulado encontrado.</h2>
            <p>                
                Somente simulados com arquivo e gabarito são aplicáveis.
            </p>
            {% else %}
            <form action class="basic-form">                    
                {% csrf_token %}
                <label for="simulado">Escolha o simulado a ser aplicado:</label>
                <select name="simulado" id="simuladoSelect">
                    {% for simulado in simulados %}
                    <option value="{{simulado.pk}}">{{ simulado.titulo }}</option>
                    {% endfor %}
                </select>
                <label for="">Data da aplicação do simulado</label>
                <input type="datetime-local" value="{% now 'Y-m-d' %}T{% now 'H:i'%}" id="dataAplicacao" style="display: block;">    
                <span class="helptext">Escolha uma data e hora futuras para agendar a aplicação. Ou informe dia e hora atuais para aplicação imediata.</span>                
                <table>
                    <thead>
                        <th><input type="checkbox" name="todosAlunos" id="ckInputTds" onclick="selectAll()"></th>
                        <th>Aluno ativo</th>
                        <th>(i) Simulado enviado ao aluno - (qtd)</th>
                        <th>(ii) Repondido</th>
                        <th>(i)-(ii) Falta responder</th>                            
                        <th>Última resposta enviada</th>
                        <th>Dias da última resposta</th>
                    </thead>
                    <tbody>
                        {% for aluno in alunos %}
                        <tr>
                            <td><input type="checkbox" name="ckInputAluno" id="ckInput-{{aluno.pk}}" value="{{aluno.pk}}"></td>
                            <td id="tdNomeAluno-{{aluno.pk}}">{{aluno.nome}}</td>                                
                            <td>{{aluno.aplicacao_aluno}}</td>
                            <td>{{aluno.respondeu}}</td>
                            <td>{{aluno.falta_resposta}}</td>
                            {% if aluno.ultima_resposta %}
                            <td>
                                {{ aluno.ultima_resposta|date:"SHORT_DATE_FORMAT" }}
                            </td>                                
                            <td>{{ aluno.ultima_resposta|timesince }}</td>
                            
                            {% else %}
                            <td>
                                __/__/____
                            </td>
                            <td> - </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button id="AbrirModalAlunos">Salvar</button>
            </form>
            {% endif %}            
            <a href="javascript:history.back()">{% trans 'Voltar'%}</a>
        </div>
        <p><img id="imgLoading" class="loading-img" src="{% get_media_prefix %}system/loading.gif" alt="Representação de carregamento da página"></p>
    </div>
    <div id="id01" class="modal">
        <form class="modal-content" action>
            <div class="modal-container">
                <h1 id="modalAlerta"></h1>
                <p id="modalText"></p>
                <ul id="listaAlunosAplicacao">

                </ul>
                <div class="clearfix">
                    <p id="modal-try-later" class="error-try-later">Um erro
                        aconteceu. Tente novamente mais tarde.</p>
                    <button type="button" class="cancelBtn">Cancelar</button>
                    <button type="button" id="confirmBtn" class="confirmBtn" onclick="aplicarSimulado(aplicacao)">Confirmar</button>
                </div>
            </div>
        </form>
    </div>          
    <div class="home-direita"></div>  
    <script>
        let aplicacao = {};
        let ckInputTds = document.getElementById('ckInputTds');
        var ele=document.getElementsByName('ckInputAluno');
        let ckInputAluno = document.getElementsByName('ckInputAluno');
        function selectAll(){
            if(ckInputTds.checked==true) {
                    for(var i=0; i<ele.length; i++){  
                        if(ele[i].type=='checkbox')  
                            ele[i].checked=true;  
                    }
                } else {
                for(var i=0; i<ele.length; i++){  
                    if(ele[i].type=='checkbox')  
                        ele[i].checked=false;
                    }
            }
        }
        document.getElementsByTagName('form')[0].addEventListener('change', (e)=>{
            e.preventDefault();
            let dataAplicacao = document.getElementById('dataAplicacao').value;
            let listaAlunosAplicacao = document.getElementById('listaAlunosAplicacao');
            listaAlunosAplicacao.innerHTML = '';
            let simuladoSelect = document.getElementById('simuladoSelect');            
            aplicacao["alunos"] = [];
            aplicacao["simulado"] = simuladoSelect.value;
            aplicacao['aplicacao_agendada'] = dataAplicacao;
            for(i=0; i<ckInputAluno.length; i++){                
                if(ckInputAluno[i].checked == true ){
                    let tdNomeAluno = document.getElementById('tdNomeAluno-'+ckInputAluno[i].value);
                    let newLi = document.createElement('li');
                    newLi.innerHTML = tdNomeAluno.innerHTML;
                    listaAlunosAplicacao.appendChild(newLi);                    
                    aplicacao["alunos"].push(ckInputAluno[i].value);
                }
            }
        });
        try { 
            let abrirModalAlunos = document.getElementById('AbrirModalAlunos');
            abrirModalAlunos.addEventListener('click', (e)=> {
                e.preventDefault();
                document.getElementById('modalText').innerHTML = `Deseja confirmar aplicação do simulado, nesta lista de alunos?`;
                document.getElementById('id01').style.display='block';
                document.getElementById('modalAlerta').innerHTML = `Aplicar simiulado`;
            });
        }
        catch(e) { 
            // throw new TypeError(e);
        }
    </script>
</section>
{% endblock %}
