{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="div-margin-top">
            <h1>Aplicar simulado individualmente</h1>
            <div class="saving-sign">
                <i>Salvando alterações...</i>
            </div>
        </div>
        <div class="home-panel-flex navegador">
            <a href="{% url 'usuarios:home_mentor' %}">Matrículas</a>
            <p>|</p>            
            <p><a href="{% url 'mentorias:mentorias_mentor' %}"><b>Mentorias</b></a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:alunos' %}">Alunos</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:simulados' %}">Simulados</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:materias' %}">Matérias</a></p>
        </div>
        <p><img id="imgLoading" class="loading-img" src="{% get_media_prefix %}system/loading.gif" alt="Representação de carregamento da página"></p>
        <div class="home-content-flex div-margin-top"> 
            <h2>{{ matricula.aluno.nome_aluno }}</h2>   
            {% if simulados %}            
                <form action class="basic-form">                    
                    {% csrf_token %}
                    <label for="simulado">Escolha o simulado a ser aplicado:</label>
                    <select name="simulado" id="simuladoSelect" required="true">
                        <option value="" disabled selected>Selecione um simulado</option>
                        {% for simulado in simulados %}
                        <option value="{{simulado.pk}}">{{ simulado.titulo }}</option>
                        {% endfor %}
                    </select>
                    <span id="avisoAluno" style="color: red"></span>
                    <label for="">Data da aplicação do simulado</label>
                    <input type="datetime-local" value="{% now 'Y-m-d' %}T{% now 'H:i'%}" id="dataAplicacao" style="display: block;">    
                    <span class="helptext">Escolha uma data e hora futuras para agendar a aplicação. Ou informe dia e hora atuais para aplicação imediata.</span>                
                    <button id="AbrirModalAlunos">Salvar</button>
                </form>
            {% else %}
            <h3>Nenhum simulado encontrado.</h3>
            <p>                
                Somente simulados com arquivo e gabarito são aplicáveis.
            </p>
            {% endif %}
                <a href="javascript:history.back()">{% trans 'Voltar'%}</a>
        </div>
    </div>
    <div id="id01" class="modal">
        <form class="modal-content" action>
            <div class="modal-container">
                <h1 id="modalAlerta"></h1>
                <p id="modalText"></p>
                <ul id="listaAlunosAplicacao">

                </ul>
                <div class="clearfix">
                    <p id="modal-try-later" class="error-try-later">Um erro
                        aconteceu. Tente novamente mais tarde.</p>
                    <button type="button" class="cancelBtn">Cancelar</button>
                    <button type="button" id="confirmBtn" class="confirmBtn" onclick="aplicarSimulado(aplicacao)">Confirmar</button>
                </div>
            </div>
        </form>        
    </div>          
    <div class="home-direita"></div>  
    <script>
        let aplicacao = {};
        let simuladoSelect = document.getElementById('simuladoSelect');        
        let avisoAluno = document.getElementById("avisoAluno");
        try {            
            let dataAplicacao = document.getElementById('dataAplicacao').value;
            aplicacao["simulado"] = simuladoSelect.value;
            aplicacao['aplicacao_agendada'] = dataAplicacao; 
            document.getElementsByTagName('form')[1].addEventListener('change', (e)=>{                
                e.preventDefault();
                avisoAluno.innerHTML = '';
                simuladoSelect = document.getElementById('simuladoSelect');
                dataAplicacao = document.getElementById('dataAplicacao').value;
                aplicacao["simulado"] = simuladoSelect.value;
                aplicacao['aplicacao_agendada'] = dataAplicacao;            
            });
        } catch(e){};
        try {
            let abrirModalAlunos = document.getElementById('AbrirModalAlunos');
            abrirModalAlunos.addEventListener('click', (e)=> {
                e.preventDefault();
                if(simuladoSelect.value.length === 0) {
                    avisoAluno.innerHTML = '<ul><li>Escolha um simulado.</li></ul>';
                    return
                }                
                document.getElementById('modalText').innerHTML = `Deseja confirmar aplicação do simulado?`;
                document.getElementById('id01').style.display='block';
                document.getElementById('modalAlerta').innerHTML = `Aplicar simiulado`;
            });
        } catch(e){};
    </script>
</section>
{% endblock %}
