{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="div-margin-top">
            <div class="home-panel-flex">
                <h1>Simulados</h1>
                <div class="saving-sign">
                    <i>Salvando alterações...</i>
                </div>
                <div>
                    {% csrf_token %}
                </div>
            </div>
        </div>
        <div class="home-panel-flex navegador">
            <a href="{% url 'usuarios:home_mentor' %}">Matrículas</a>
            <p>|</p>            
            <p><a href="{% url 'mentorias:mentorias_mentor' %}">Mentorias</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:alunos' %}">Alunos</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:simulados' %}"><b>Simulados</b></a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:materias' %}">Matérias</a></p>
        </div>
        <div class="row-flex-start">
            <div><a href="{% url 'mentorias:cadastrar_simulado' %}" class="menu">Criar simulado</a></div>
        </div>
        <div class="home-panel-flex">
            <table>
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Cadastro</th>
                        <th>Questões</th>
                        <th>Pontos</th>
                    </tr>
                </thead>
            <tbody>
            {% for simulado in simulados %}
            <tr>
                <td>
                    <a
                    href="{% url 'mentorias:simulado_detalhe' simulado.pk %}">
                    {{ simulado.titulo }}</a>
                </td>
                <td>{{ simulado.criado_em }}</td>
                <td>{{simulado.gabarito.total.questoes}}</td>
                <td>{{ simulado.gabarito.total.pontos }}</td>                   
            </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>        
    </div>
    <div class="home-direita"></div>
</section>
{% endblock %}
