{% extends 'base.html' %}
{% load i18n %}
{% load custom_tags %}
{% load humanize %}
{% load static %}
{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="div-margin-top">
            <div class="home-panel-flex">
                <h1 class="block-display">Painel do simulado</h1> 
            </div>
        </div>
        <div class="home-panel-flex navegador">
            <a href="{% url 'usuarios:home_mentor' %}">Início</a>
            <p>|</p>            
            <p><a href="{% url 'mentorias:mentorias_mentor' %}">Mentorias</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:alunos' %}">Alunos</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:simulados' %}"><b>Simulados</b></a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:materias' %}">Matérias</a></p>
        </div>
        <div class="column-flex-streght">
            {% csrf_token %}
            <p>
                <form action="" class="basic-form">
                    <input onchange="salvaAlteracaoTituloConteudo('tituloConteudo')" type="text" size="50" name="tituloConteudo" id="tituloConteudo" disabled value="{{ simulado }}">
                    <a id="penEditItem" href="javascript:void(0)" onclick="habilitaInpuTitulo('tituloConteudo')">&#x1F58A;</a>
                    <span id="alertaTitulo" style="color: red;display: block;"></span>
                </form>
            </p>
            <p><b>Criado em:</b> {{ simulado.criado_em|date:"SHORT_DATE_FORMAT" }}</p>
        </div>
        <div class="row-flex-center">
            <div><button onclick="AbrirModal('{{ simulado.id }}', '{{simulado.titulo}}', 'Simulado', 'redirect')" class="small-btn">Apagar simulado</button></div>
        </div> 
        <div class="row-flex-center">
            <div class="saving-sign">
                <i>Salvando alterações...</i>
            </div>
        </div>
        <div class="two-parts-content div-margin-top">            
            <div class="div-rows">
                <div>
                    <b>Controle do simulado</b>
                    <p>
                        <span class="help-block">Este conteúdo é exclusivo do mentor. Anote o que achar conveniente
                            para seu controle:
                        </span>
                    </p>
                    <textarea name="controle" id="controleTextarea" cols="50"
                        rows="15"
                        onchange="atualizaControle()">{{ simulado.controle|set_empty }}</textarea>
                </div>
            </div>
            <div class="div-rows">                
                <div>
                    <b>Arquivo:</b><img id="imgLoading" class="loading-icon" src="{% get_media_prefix %}system/loading.gif" alt="Representação de carregamento da página">
                    {% if simulado.pdf_prova %}
                    <span id="arquivo-p-{{simulado.id}}" class="overflow-treatment">
                        <a id="linkPdfProva" href="{{ simulado.pdf_prova.arquivo_mentoria.url }}" download>
                            {{ simulado.pdf_prova }}                            
                        </a>               
                    </span>
                    {% else %}
                    <span id="arquivo-p-{{simulado.id}}" class="overflow-treatment">
                        <a id="linkPdfProva" href="#" download>                                              
                        </a>               
                    </span>
                    {% endif %}
                    <span>
                    <!-- <form action class="no-space-form" method="" enctype="multipart/form-data">                             -->
                        <span class="help-block block-display">Anexe o arquivo com a prova:</span>
                        <input type="file" name="arquivoInput" id="arquivoInput">
                    <!-- </form>                     -->
                    </span>
                    <button id="upload-button" class="small-btn" onclick="uploadFile()">Enviar</button>
                </div>
                <div class="div-margin-top">
                    <div>
                       <p><b>Gabarito:</b></p>
                       {% if not simulado.gabarito %}
                       <p>Simulado precisa de um gabarito cadastrado, antes de ser aplicado à alunos.</p>
                       <p><a href="{% url 'mentorias:cadastrar_gabarito' simulado.pk %}" class="menu">Cadastrar </a></p>
                       {% else %}
                       <p><a href="{% url 'mentorias:cadastrar_gabarito' simulado.pk %}" class="menu">Ver gabarito</a></p>
                       <table >
                        <thead>
                            <tr>
                                <th>Matéria</th>
                                <th>Quantidade</th>
                                <th>Peso</th>
                                <th>Pontos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for materia, dados in simulado.gabarito.resumo.items %}
                            <tr>
                                <td>
                                    {{ materia }}
                                </td>
                                <td>{{ dados.quantidade }}</td>
                                <td>{{ dados.peso }}</td>
                                <td>{{ dados.pontos }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Qtd</th>
                                <th>{{ simulado.gabarito.total.questoes}}</th>
                                <th>Pontos</th>
                                <th>{{ simulado.gabarito.total.pontos}}</th>
                            </tr>
                        </tfoot>
                       </table>
                       {% endif %}                       
                    </div>

                </div>
            </div>
        </div>
        <div class="div-rows div-margin-top">
            {% if simulado %}
            <div class="chart-container" style="position: relative; height:40vh; width:80vw">                
                <canvas id="myChart" width="400" height="100"></canvas> 
            </div>
            <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
            <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
            <script>
                $.get('{% url "mentorias:line_chart_simulado" simulado.pk %}', function(data) {
                    var ctx = $("#myChart").get(0).getContext("2d");
                    const tipo = (data['labels'].length == 1) ? 'bar': 'line'
                    let chart = new Chart(ctx, {
                        type: tipo,
                        data: data,
                        bezierCurve : true,
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            title: {
                                display: true,
                                position: 'top',
                                text: 'Desempenho dos alunos neste simulado - %',
                                fontSize: 28                                
                            },
                            tooltips: {
                                titleFontSize: 20,
                                bodyFontSize: 20                                 
                            },
                            legend: {
                                labels: {                 
                                    fontSize: 14
                                },
                            },
                            scales: {
                                yAxes: [{
                                    display: true,
                                    ticks: {
                                        suggestedMin: 0,
                                        suggestedMax: 100,
                                        fontSize: 20                                        
                                    }
                                }],
                                xAxes: [{
                                    ticks: {fontSize: 20},
                                }]
                            },                            
                            elements: {
                                    line: {
                                            fill: false
                                    },
                                    point: {
                                        radius: 6,
                                        hoverRadius: 8,
                                    }
                                },
                            onHover: (event, chartElement) => {
                                event.target.style.cursor = chartElement[0] ? 'pointer' : 'default';
                                }
                        },                      
                    }
                    )
                });                
            </script>
            {% else %}
            <p>Aguardando resposta dos alunos</p>
            {% endif %}
        </div>
    </div>
    <div class="home-direita"></div>
</section>
<div id="id01" class="modal">
    <form class="modal-content" action>        
        <div class="modal-container">
            <h1 id="modalAlerta"></h1>
            <p id="modalText"></p>
            <div class="clearfix">
                <p id="modal-try-later" class="error-try-later">Um erro
                    aconteceu. Tente novamente mais tarde.</p>
                <button type="button" class="cancelBtn">Cancelar</button>
                <button type="button" id="confirmBtn" class="confirmBtn">Confirmar</button>
            </div>
        </div>
    </form>
</div>
<script>
    let inputTitulo = document.getElementById('tituloConteudo');
    const tituloAtual = document.getElementById('tituloConteudo').value;
    inputTitulo.addEventListener("focusin", (event) => {
        document.getElementById('penEditItem').style.display = 'none';
    });
    inputTitulo.addEventListener("focusout", (event) => {
        document.getElementById('penEditItem').style.display = 'inline';
        inputTitulo.disabled = true;
    });
    function habilitaInpuTitulo(id) {
        // Habilita input ao clicar na caneta
        document.getElementById(id).disabled = false;
        document.getElementById(id).focus();   
    };
</script>
{% endblock %}
