{% extends 'base.html' %}
{% load m_custom_tags %}
{% load i18n %}
{% load humanize %}
{% load static %}

{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="home-panel-flex">
            <p><a href="{% url 'usuarios:home_mentor' %}">Painel</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:mentorias_mentor' %}"><b>Mentorias</b></a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:alunos' %}">Alunos</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:simulados' %}">Simulados</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:materias' %}">Materias</a></p>
            <p>|</p>
            <p><a a role="link" aria-disabled="true">Formulários</a></p>
            <p>|</p>
            <p><a role="link" aria-disabled="true">Calendário</a></p>
        </div>   
        <div class="home-panel-flex">
            <h3>Painel da matrícula # {{ matricula.pk }}.</h3>
            <div class="saving-sign">
                <i>Salvando alterações...</i>
            </div>
        </div>     
        <div class="column-flex-streght">
            {% csrf_token %}
            <p>
                <b>Aluno:</b>
                {{matricula.aluno}}.
            </p>
            <p>
                <b>Mentoria:</b>
                <a href="{% url 'mentorias:mentoria_detalhe' mentoria.pk %}">{{ mentoria }}</a>
            </p>
            <p><b> Início em:</b>
                {{ matricula.criada_em|date:'SHORT_DATE_FORMAT' }}
            </p>
            <p><b> Encerra em:</b>
                {{ matricula.encerra_em|date:'SHORT_DATE_FORMAT' }}
            </p>
        </div>        
        <div class="saving-sign">
            <i >Salvando alterações...</i>
        </div>
        <div class="column-flex-streght div-margin-top">
            <div><h3>Formulários</h3></div>         
            <div><h3>Plano de estudo</h3></div>
        </div>
        <div class="div-margin-top rigth-side-panel">
            <h3>Estatísticas</h3>
        </div>
        <div class="div-margin-top rigth-side-panel">
            <div class="div-rows">
                <div>
                    <h3>Simulados aplicados</h3>
                    <p><a href="{% url 'mentorias:aplicacao_individual' matricula.pk %}">Aplicar simulado indidualmente</a></p>
                    <table>
                        <thead>
                            <tr>
                                <th>Simulado</th>
                                <th>Data aplicação</th>
                                <th>Data resposta</th>
                                <th>Qtd questões</th>
                                <th>Acertos</th>
                                <th>Erros</th>
                                <th>Desempenho</th>
                                <th>Detalhar</th>
                            </tr>
                        </thead>
                        <tbody>                            
                            {% for aplicacao in aplicacoes %}                    
                            <tr>
                                <td>                                    
                                    {{ aplicacao.simulado }}</p>
                                </td>
                                <td> 
                                    {{aplicacao.aplicacao_agendada|date:"SHORT_DATE_FORMAT"}}
                                </td>
                                <td>
                                    {% if aplicacao.data_resposta %}
                                    {{ aplicacao.data_resposta|date:"SHORT_DATE_FORMAT" }}
                                    {% else %}
                                    __/__/____
                                    {% endif %}
                                </td>
                                <td>{{aplicacao.simulado.gabarito.total.questoes}}</td>
                                <td>{{ aplicacao.resposta_alunos.resumo.acertos }}</td>
                                <td>{{ aplicacao.resposta_alunos.resumo.erros }}</td>
                                <td>
                                    {% if aplicacao.resposta_alunos %}
                                    <div class="container-progress">
                                        <div class="skill" value="{{ aplicacao.resposta_alunos.resumo.percentual }}">{{aplicacao.resposta_alunos.resumo.percentual}}%</div>
                                    </div>
                                    {% else %}
                                    N/A
                                    {% endif %}
                                </td>
                                <td><a href="{% url 'mentorias:resultado_detalhe' aplicacao.pk %}"><img style="height:2rem;" src="{% get_media_prefix %}/clipboard.svg" alt="Clipboard"></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    
    <div class="home-direita"></div>
</section>
<script>
    const skill = document.getElementsByClassName('skill');
    Array.from(skill).forEach((el) => { 
        const porcento = el.getAttribute('value').replace(',', '.');
        console.log(Number(porcento));
        el.style.width = porcento + '%';    
        if(Number(porcento) < 50 ) {
            el.style.backgroundColor = 'red';
        } else if( 50 <= Number(porcento) && Number(porcento) < 80 ) {
            el.style.backgroundColor = 'yellow';
        } else {
            el.style.backgroundColor = 'green';
            el.style.color = 'white';
        }
    });
</script>
{% endblock %}
