{% extends 'base.html' %}
{% load i18n %}
{% load custom_tags %}
{% load humanize %}
{% load static %}

{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="div-margin-top"><h1>Painel de modificações na matrícula Nº {{ matricula.pk }}, {{ matricula.aluno }}. {% if matricula.ativa %}Ativa{% else %}Inativa{% endif %}.</h1></div> 
        <div class="home-panel-flex navegador">
            <a href="{% url 'usuarios:home_mentor' %}"><b>Matrículas</b></a>
            <p>|</p>
            <p><a href="{% url 'mentorias:mentorias_mentor' %}">Mentorias</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:alunos' %}">Alunos</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:simulados' %}">Simulados</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:materias' %}">Matérias</a></p>
        </div>   
        <div>            
            <div class="saving-sign">
                <i>Salvando alterações...</i>
            </div>            
            <p><a href="{% url 'mentorias:desempenho_matricula' matricula.pk %}" class="menu">Ver desempenho do aluno.</a></p>
        </div>
        <div>
            <div><b>Endereço de login do aluno:</b>
                <span id="urlAluno" style="text-transform: lowercase;">  
                    {{local_host_name}}{% url 'usuarios:login_alunos' %}
                </span>            
                <span class="tooltip">
                    <a href="javascript:void(0);" onclick="copyClipboard('urlAluno')"><i class="fa-regular fa-copy" style="font-size: 1.5rem;"></i></a>
                    <span class="tooltiptext"><nobr>Copiar</nobr></span>
                    <span style="background-color: green;" id="tooltipCopiado" class="tooltiptextPos"><nobr>Copiado!</nobr></span>
                </span>
            </div>
        </div>  
        <!-- <div class="row-flex-start"><p class="help-block">*Este link de acesso do aluno é o único painel por ele utilizado e acessado, portanto todas as informações e recursos disponíveis estarão neste site.</p></div>         -->
        <!-- <div class="row-flex-start"><p class="help-block">*A matricula estando ativa, poderá ser cobrada na fatura relativa ao mês atual e nos meses seguintes, até que eventualmente seja desativada.</p></div>         -->
        <!-- <div class="row-flex-start"><p class="help-block">*Toda matrícula vencida é desativada automaticamente.</p></div>                     -->
        <!-- <div class="row-flex-start"><p class="help-block">*O período final da mentoria não pode ser antecipado. Pode ser alterado para frente apenas.</p></div>                     -->
        <div class="row-flex-start">
            <fieldset>
                <legend>Importante</legend>                
                <p class="help-block">*Este link de acesso do aluno é o único painel por ele utilizado e acessado, portanto todas as informações e recursos disponíveis estarão neste endereço.</p>
                <p class="help-block">*A matricula estando ativa, será cobrada na fatura relativa ao mês atual e nos meses seguintes, até que eventualmente seja desativada.</p>
                <p class="help-block">*Toda matrícula vencida é desativada automaticamente.</p>
                <p class="help-block">*A data do final da mentoria não pode ser antecipada. Apenas pode ser alterada para frente, postecipada.</p>
                <p class="help-block" style="word-wrap: break-word;word-break: normal;">
                    *Uma matrícula desativada poderá ser reativada. 
                    A primeira reativação pode ser feita a qualquer momento. Da segunda reativação em diante, a matrícula deverá ser reativada em até 25 dias corridos, 
                    contados da data da desativação, passado este prazo, não será mais possível reativá-la.
                </p>
                <p class="help-block">
                    *Todo aluno pode ser rematriculado numa mentoria, gerando uma nova matrícula do zero. Porém, não é possível aproveitar o histórico de desempenho de matrícula 
                    anteriormente desativada.
                </p>
            </fieldset>
        </div>
        <div>
            <div class="row-flex-start">    
                <!-- Aluno: -->            
                <fieldset style="flex: 1;">             
                    <legend>Aluno:</legend>
                    <p><a href="{% url 'mentorias:aluno_detalhe' matricula.aluno.pk %}">{{matricula.aluno}}</a></p>
                        <p><a href="mailto:{{ matricula.aluno.email_aluno}}" target="_blank" style="text-transform: lowercase;">{{ matricula.aluno.email_aluno }}</a></p>
                        <p><i class="fa-brands fa-whatsapp"></i>&nbsp;<a href="https://web.whatsapp.com/send?phone={{ matricula.aluno.telefone_aluno }}" target="_blank">{{ matricula.aluno.telefone_aluno }}</a></p>
                </fieldset>
                <!-- Duração da Matrícula -->   
                <fieldset style="flex: 1;">
                    <legend>
                        Período da mentoria
                    </legend>
                    <table>
                        <tr>
                            <th>Início</th>
                            <th>Final*</th>
                        </tr>
                        <tr>
                            <td>{{ matricula.criada_em|date:'SHORT_DATE_FORMAT' }}</td>
                            <td>
                                <span id="closeBtn" style="display:none;"><a href="#" onclick="closeEncerraInput()" style="color: red;font-size: 2.5rem;">&times;</a></span>
                                <!-- <p id="pEncerramento" class="block-display"><span id="encerraAtual">{{ matricula.encerra_em|date:"SHORT_DATE_FORMAT" }}</span>&nbsp;<a id="penEditItem"  href="javascript:void(0)" onclick="habilitaInputEncerra('matriculaEncerra')">&#x1F58A;</a></p> -->
                                <p id="pEncerramento" class="block-display"><span id="encerraAtual">{{ matricula.encerra_em|date:"SHORT_DATE_FORMAT" }}</span>&nbsp;<a id="calendarEditItem"  href="javascript:void(0)" onclick="habilitaInputEncerra('matriculaEncerra')"><i class="fa-regular fa-calendar-days"></i></a></p>
                                <span id="formDataEncerramento" class="basic-form" style="display: none;text-align: center;">                    
                                    {% csrf_token %}                    
                                    <input type="date" name="dataEncerramento" id="dataEncerramento" style="padding:0;height:2rem;" value="{{ matricula.encerra_em|formata_data_para_imput }}">
                                    <span style="display: block;">
                                        <a href="javascript:void(0);" onclick="salvaAlteracaoDataEncerramento('{{ lang }}')" class="menu">Salvar alteração</a>
                                    </span>
                                </span>                            
                            </td>
                        </tr>
                    </table>
                </fieldset>
                <!-- Mentoria vinculada -->
                <fieldset>
                    <legend>Mentoria vinculada:</legend>
                    <p> 
                        <a href="{% url 'mentorias:mentoria_detalhe' mentoria.pk %}" class="menu"> {{ mentoria }}</a>
                    </p>
                </fieldset>
                <!-- Ativa inativa -->
                <fieldset>
                    <legend><b>Ativa ou Inativa</b></legend>
                    {% if matricula.ativa %}
                        <span id="desativarBtn">
                            <h4 style="display: inline;">Ativa</h4>
                            <button href="javascript:void(0)" class="small-btn" onclick="AbrirModal3('desativar')">Desativar</button>
                            <!-- <span class="help-block block-display">Desativando a matricula, ela constará na fatura relativa ao mês atual, com vencimento para o mês seguinte, porém deixará de ser cobrada nas faturas relativas ao meses seguintes.</span>                         -->
                        </span>
                        <span id="ativarBtn" style="display: none;">
                            <h4 style="display: inline;">Inativa</h4>
                            <button href="javascript:void(0)" class="small-btn" onclick="AbrirModal3('ativar')">Ativar</button>
                            <!-- <span class="help-block block-display">Ativando a matricula, ela poderá ser cobrada na fatura relativa ao mês atual e nos meses seguintes, até que eventualmente seja desativada.</span> -->
                        </span>
                    {% else %}
                        <span id="desativarBtn" style="display: none;">
                            <h4 style="display: inline;">Ativa</h4>
                            <button href="javascript:void(0)" class="small-btn" onclick="AbrirModal3('desativar')">Desativar</button>
                            <!-- <span class="help-block block-display">Desativando a matricula, ela constará na fatura relativa ao mês atual, com vencimento para o mês seguinte, porém deixará de ser cobrada nas faturas relativas ao meses seguintes.</span>                         -->
                        </span>
                        <span id="ativarBtn">
                            <h4 style="display: inline;">Inativa</h4>
                            <button href="javascript:void(0)" class="small-btn" onclick="AbrirModal3('ativar')">Ativar</button>
                            <!-- <span class="help-block block-display">Ativando a matricula, ela poderá ser cobrada na fatura relativa ao mês atual e nos meses seguintes, até que eventualmente seja desativada.</span> -->
                        </span>
                        {% if matricula.data_desativada %}
                        <P>Desativada em: {{ matricula.data_desativada|date:"SHORT_DATE_FORMAT" }}.</P>
                        {% endif %}
                    {% endif %}
                    {% if matricula.data_reativada %}
                        <p>Última reativação: {{ matricula.data_reativada|date:"SHORT_DATE_FORMAT" }}.</p>
                    {% endif %}
                </fieldset>
            </div>
        </div>
        <div class="menu-bar">
            <div class="">
                <a class="menu-bar-options" href="javascript:toggleFunction('a')" id="option-a" style="font-weight: 600;">Simulados aplicados</a>           
            </div>
        </div>
        <div class="wide-width div-margin-top">
            <!-- Tabela de simulados aplicados-->
            <span class="toggle-option" id="panel-a" style="display: block;">
                <h2>Simulados aplicados</h2>
                {% if not matricula.falta_responder.0 %}
                <p><a href="{% url 'mentorias:aplicacao_individual' matricula.pk %}" class="menu">Aplicar simulado individualmente</a></p>
                {% endif %}
                <table>
                    <thead>
                        <tr>
                            <th>Simulado</th>
                            <th>Data aplicação</th>
                            <th>Data resposta</th>
                            <th>Acertos</th>
                            <th>Erros</th>
                            <th>%</th>
                            <th>Detalhar</th>
                            <th>Cancelar</th>
                        </tr>
                    </thead>
                    <tbody>                            
                        {% for aplicacao in aplicacoes %}                    
                        <tr id="aplicacao-{{aplicacao.id}}">
                            <td>                                    
                                {{ aplicacao.simulado }}</p>
                            </td>
                            <td> 
                                {{aplicacao.aplicacao_agendada|date:"SHORT_DATE_FORMAT"}}
                            </td>
                            <td>
                                {% if aplicacao.data_resposta %}
                                {{ aplicacao.data_resposta|date:"SHORT_DATE_FORMAT" }}
                                {% else %}
                                __/__/____
                                {% endif %}
                            </td>
                            <td>{{ aplicacao.resposta_alunos.resumo.acertos }}</td>
                            <td>{{ aplicacao.resposta_alunos.resumo.erros }}</td>
                            <td>
                                {% if aplicacao.resposta_alunos %}
                                <div class="container-progress">
                                    <div class="skill" value="{{ aplicacao.resposta_alunos.resumo.percentual }}">{{aplicacao.resposta_alunos.resumo.percentual}}%</div>
                                </div>
                                {% else %}
                                N/A
                                {% endif %}
                            </td>
                            <td><a href="{% url 'mentorias:resultado_detalhe' aplicacao.pk %}"><img style="height:2rem;" src="{% get_media_prefix %}system/clipboard.svg" alt="Clipboard"></a></td>
                            <td>                        <a
                                href="javascript:void(0);"
                                onclick="removerAplicacaoAbreModal('{{ aplicacao.id}}')"
                                class="close-btn">&times;</a></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8">Nenhum simulado aplicado nesta matrícula até o momento.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </span>
        </div>        
    </div>
    <div class="home-direita"></div>
</section>
<div id="id01" class="modal">
    <form class="modal-content" action onsubmit="event.preventDefault()">
        <div class="modal-container">
            <h1 id="modalAlerta"></h1>
            <p id="modalText"></p>
            <div class="clearfix">
                <p id="modal-try-later" class="error-try-later">Um erro
                    aconteceu. Tente novamente mais tarde.</p>
                <button type="button" id="confirmBtn">Confirmar</button>
                <button type="button" class="cancelBtn">Cancelar</button>
            </div>
        </div>
    </form>
</div>
<div id="id02" class="modal">
    <form class="modal-content" action onsubmit="event.preventDefault()">
        <div class="modal-container">
            <h1 id="modalAlerta">Ativar ou Desativar</h1>
            <p id="modalText2"></p>
            <div class="clearfix">                
                <p id="modal-try-later" class="error-try-later">Um erro
                    aconteceu. Tente novamente mais tarde.</p>
                <button type="button" class="deleteBtn" id="confirmBtn" onclick="alteraSituacaoMatricula('{{ matricula.pk }}', 'matricula')">Confirmar</button>
                <button type="button" class="cancelBtn2">Cancelar</button>
            </div>
        </div>
    </form>
</div>
<script> 
    const habilitaInputEncerra = (name) => {
        // document.getElementById('encerraAtual')
        document.getElementById('pEncerramento').style.display = 'none';
        document.getElementById('calendarEditItem').style.display = 'none';
        document.getElementById('closeBtn').style.display = 'inline';
        document.getElementById('formDataEncerramento').style.display = 'block';        
    }
    const closeEncerraInput = () => {
        document.getElementById('pEncerramento').style.display = 'block';
        document.getElementById('formDataEncerramento').style.display = 'none';
        document.getElementById('calendarEditItem').style.display = 'inline';
        document.getElementById('closeBtn').style.display = 'none';
    }
</script>

{% endblock %}
