{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% load custom_tags %}
{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="home-panel-flex">
            <h1>Painel do resultado</h1>
            <div class="saving-sign">
                <i>Salvando alterações...</i>
            </div>
            <div>
                {% csrf_token %}
            </div>
        </div>
        <div class="home-panel-flex navegador">
            <a href="{% url 'usuarios:home_mentor' %}">Início</a>
            <p>|</p>
            <p><a href="{% url 'mentorias:mentorias_mentor' %}"><b>Mentorias</b></a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:alunos' %}">Alunos</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:simulados' %}">Simulados</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:materias' %}">Matérias</a></p>
            <!-- <p>|</p> -->
            <!-- <p><a a role="link" aria-disabled="true">Formulários</a></p> -->
            <!-- <p>|</p> -->
            <!-- <p><a role="link" aria-disabled="true">Calendário</a></p> -->
        </div>
        <div class="div-margin-top">
            <div class="home-panel-flex">
                <p><a href="{% url 'mentorias:matricula_detalhe' aplicacao.matricula.pk %}" class="menu">Voltar ao painel da matrícula.</a></p>
            </div>
        </div>
        <div class="div-margin-top">
            <h3>{{ aplicacao.simulado }}</h3>
        </div>
        <div>
            <p>Pontuação máxima: {{ aplicacao.resposta_alunos.analitico.total.total_pontos}}.</p>
        </div>
        <div class="div-margin-top">
            <div>
                <h4>{{aplicacao.aluno}}</h4>
            </div>
        </div>
        <div>
            <div>
                <p>Data da aplicação: {{aplicacao.aplicacao_agendada|date:"SHORT_DATE_FORMAT" }}.</p>
                <p>Respondida em: {{ aplicacao.data_resposta|date:"SHORT_DATE_FORMAT" }}.</p>
            </div>
        </div>
        <div class="two-parts-content">
            <div>
                <div>
                    <h4>Desempenho analítico</h4>                    
                </div>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>Matéria</th>
                                <th>Quantidade</th>
                                <th>Peso</th>
                                <th>Acertos</th>
                                <!-- <th>%</th> -->
                                <th>Pontos</th>                                    
                            </tr>
                        </thead>
                        <tbody>
                            {% for materia, dados in aplicacao.resposta_alunos.analitico.materias.items %}
                            <tr>
                                <td>
                                    {{ materia }}
                                </td>
                                <td>{{ dados.quantidade }}</td>
                                <td>{{ dados.peso }}</td>
                                <td>{{ dados.acertos }}</td>
                                <!-- <td>
                                    <div class="container-progress">                                    
                                        <div id="skill-{{materia.id}}" class="skill" value="{{dados.percentual_acertos}}"></div>
                                    </div>
                                </td> -->
                                <td>{{ dados.pontos }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <!-- <th></th> -->
                                <th>Total de pontos</th>
                                <th>
                                    {{ aplicacao.resposta_alunos.analitico.total.pontos_atingidos }} 
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div>
                {% if aplicacao.data_resposta %}
                <div class="chart-container" style="position: relative; height:50vh; width:40vw">                
                    <canvas id="myChart" width="300" height="100"></canvas> 
                </div>
                <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
                <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
                <script>
                    $.get('{% url "mentorias:bar_chart_aplicacao" aplicacao.pk %}', function(data) {
                        var ctx = $("#myChart").get(0).getContext("2d");
                        let chart = new Chart(ctx, {
                            type: 'bar',
                            data: data,
                            bezierCurve : true,
                            options: {
                                responsive: true,
                                maintainAspectRatio: false,
                                title: {
                                    display: true,
                                    position: 'top',
                                    text: 'Desempenho do aluno neste simulado - %',
                                    fontSize: 28                                
                                },
                                tooltips: {
                                    titleFontSize: 20,
                                    bodyFontSize: 20                                 
                                },
                                legend: {
                                    labels: {                 
                                        fontSize: 14
                                    },
                                },
                                scales: {
                                    yAxes: [{
                                        display: true,
                                        ticks: {
                                            suggestedMin: 0,
                                            suggestedMax: 100,
                                            fontSize: 20                                        
                                        }
                                    }],
                                    xAxes: [{
                                        ticks: {fontSize: 20},
                                    }]
                                },                            
                                elements: {
                                        line: {
                                                fill: false
                                        },
                                        point: {
                                            radius: 6,
                                            hoverRadius: 8,
                                        }
                                    },
                                onHover: (event, chartElement) => {
                                    event.target.style.cursor = chartElement[0] ? 'pointer' : 'default';
                                    }
                            },                      
                        }
                        )
                    });                
                </script>
                {% else %}
                <p>Aguardando resposta dos alunos</p>
                {% endif %}
            </div>
        </div>
        <div class="div-rows">
            <div>
                <div class="div-margin-top">
                    <h4>Desempenho resumido</h4>
                    <p>
                        Acertos: {{aplicacao.resposta_alunos.resumo.acertos}}.
                        Erros: {{aplicacao.resposta_alunos.resumo.erros }}. 
                        Anuladas: {{aplicacao.resposta_alunos.resumo.anulada}}.                            
                        Percentual de acertos: {{aplicacao.resposta_alunos.resumo.percentual}}%.
                    </p>
                </div>
            </div>        
            <div class="div-margin-top div-content-centered">
                <h4>Respostas</h4>
                <p>#. Gabarito Vs Resposta do Aluno Vs Estatística das alternativas da questão</p>
            </div>
            <div>
                <div>
                    <ol id="listaId" class="list-columns">
                        {% for item, questao in aplicacao.resposta_alunos.questoes.items %}
                        <li>
                            {% if questao.gabarito == questao.resposta or questao.gabarito == 'X' %}
                            <span>Gabarito: {{questao.gabarito}}</span>&nbsp;&nbsp;&nbsp;<span style="color:green;margin-right:1.5rem;">Sua resposta: {{ questao.resposta }}</span>
                            {% else %}
                            <span>Gabarito: {{questao.gabarito}}</span>&nbsp;&nbsp;&nbsp;<span style="color:red;margin-right:1.5rem;">Sua resposta: {{ questao.resposta }}</span>
                            {% endif %}
                            {{ alternativas|alternativas:forloop.counter|safe }}
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>                                      
        </div>
    </div>
    <div class="home-direita"></div>
</section>
<script>
    let listaId = document.getElementById('listaId');
    let questoesQtd = '{{aplicacao.simulado.gabarito.total.questoes}}';
    // listaId.style.columnCount = questoesQtd / 10;
    // if(screen.width < 560) {
    //     listaId.style.columnCount = 3;
    // }    
    const skills = document.getElementsByClassName('skill');
    Array.from(skills).forEach(el => {
        const porcento = el.getAttribute('value').replace(',', '.');
        el.innerHTML = porcento + '%';
        el.style.width = porcento + '%';
        if(Number(porcento) < 50 ) {
            el.style.backgroundColor = 'red';
        } else if( 50 <= Number(porcento) && Number(porcento) < 80 ) {
            el.style.backgroundColor = 'yellow';
        } else {
            el.style.backgroundColor = 'green';
            el.style.color = 'white';
        }
    });
</script>
{% endblock %}
