{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="home-panel-flex">
            <p><a href="{% url 'usuarios:home_mentor' %}">Painel</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:mentorias_mentor' %}"><b>Mentorias</b></a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:alunos' %}">Alunos</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:simulados' %}">Simulados</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:materias' %}">Materias</a></p>
            <p>|</p>
            <p><a a role="link" aria-disabled="true">Formulários</a></p>
            <p>|</p>
            <p><a role="link" aria-disabled="true">Calendário</a></p>
        </div>
        <div class="div-margin-top">
            <div class="home-panel-flex">
                <h3>Painel do resultado</h3>
                <div class="saving-sign">
                    <i>Salvando alterações...</i>
                </div>
                <div>
                    {% csrf_token %}
                </div>
            </div>
            <div class="home-panel-flex">
                <p><a href="{% url 'mentorias:matricula_detalhe' aplicacao.matricula.pk %}">Voltar ao painel da matrícula.</a></p>
            </div>
        </div>        
        <div class="column-flex-streght">
            {% csrf_token %}
        </div>
        <div class="column-flex-center div-margin-top">
            <div>                
                <h3>{{ aplicacao.simulado }}</h3>
            </div>
        </div>
        <div class="column-flex-center">
            <div>
                <h4>{{aplicacao.aluno}}</h4>
            </div>
        </div>
        <div class="column-flex-center">
            <div>
                <p>Data da aplicação: {{aplicacao.aplicacao_agendada|date:"SHORT_DATE_FORMAT" }}.</p>
                <p>Respondida em: {{ aplicacao.data_resposta|date:"SHORT_DATE_FORMAT" }}.</p>
            </div>
        </div>
        <div class="div-margin-top div-rows">
            <div class="column-flex-center">                
                <div class="saving-sign">
                    <i>Salvando alterações...</i>
                </div>
            </div> 
        </div>
        <div class="div-rows">
            <div class="div-content-centered">
                <h4>Respostas</h4>
                <p>#. Gabarito / Resposta do Aluno</p>
            </div>
            <div class="centered-content">
                <div>
                    <ol id="listaId" class="list-columns">
                        {% for item, questao in aplicacao.resposta_alunos.questoes.items %}
                        <li style="margin-right: 4rem;">
                            {% if questao.gabarito == questao.resposta or questao.gabarito == 'X' %}
                            <span style="margin: 0 15%;">{{questao.gabarito}}</span><span style="color:green;">{{ questao.resposta }}</span>
                            {% else %}
                            <span style="margin: 0 15%;">{{questao.gabarito}}</span><span style="color:red;">{{ questao.resposta }}</span>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
            <div>
                <div class="div-content-centered">
                    <h4>Desempenho resumido</h4>
                    <p>
                        Acertos: {{aplicacao.resposta_alunos.resumo.acertos}}.
                        Erros: {{aplicacao.resposta_alunos.resumo.erros }}. 
                        Anuladas: {{aplicacao.resposta_alunos.resumo.anulada}}.                            
                        Percentual de acertos: {{aplicacao.resposta_alunos.resumo.percentual}}%.
                    </p>
                </div>
            </div>
            <div>
                <div class="div-content-centered">
                    <h4>Desempenho analítico</h4>
                    <p>Pontuação máxima do simulado: {{ aplicacao.resposta_alunos.analitico.total.total_pontos}}.</p>
                </div>
                <table class="size-160px">
                    <thead>
                        <tr>
                            <th>Matéria</th>
                            <th>Quantidade</th>
                            <th>Peso</th>
                            <th>Acertos</th>
                            <th>%</th>
                            <th>Pontos</th>                                    
                        </tr>
                    </thead>
                    <tbody>
                        {% for materia, dados in aplicacao.resposta_alunos.analitico.questoes.items %}
                        <tr>
                            <td>
                                {{ materia }}
                            </td>
                            <td>{{ dados.quantidade }}</td>
                            <td>{{ dados.peso }}</td>
                            <td>{{ dados.acertos }}</td>
                            <td>
                                <progress value="{{dados.percentual_acertos}}" max="100"></progress>
                            </td>
                            <td>{{ dados.pontos }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Total de pontos</th>
                            <th>
                                {{ aplicacao.resposta_alunos.analitico.total.pontos_ponderado}} 
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>                       
        </div>
    </div>
    <div class="home-direita"></div>
</section>
<script>
    let listaId = document.getElementById('listaId');
    let questoesQtd = '{{aplicacao.simulado.gabarito.total.questoes}}';
    listaId.style.columnCount = questoesQtd / 10;
</script>
{% endblock %}
