@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;500;600;700&family=Kalam&family=Open+Sans:ital,wght@0,300;0,600;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Titillium+Web:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
:root {
    --primary-color: rgb(70, 70, 70);
    --white-color: #ffffff;
    --light-gray-color: rgb(240, 240, 240);
    --secondary-color: rgb(232, 16, 189);
    --blue-color: #0885f2;
    --light-green-color: rgb(205, 251, 189, 0.5);
    --green-color:rgb(33, 156, 3);
    --gray-color:rgb(159, 159, 159);
    --gap:0.6rem;
    --light-blue-color:rgb(143, 184, 245);
    --light-red:rgb(250, 95, 95);
}
* {
    border:0;
    margin:0;
    box-sizing:border-box;
}

html {
    /* background-color: var(--light-gray-color); */
    color: var(--primary-color);
}

body {
    font-family: 'Titillium Web', 'Exo 2', sans-serif;
    color: var(--primary-color);
    line-height: 1.5;
    font-size: 1.4rem;
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', sans-serif;
}
a {    
    text-decoration: none;    
    cursor: pointer;    
    font-style: italic;
    color: var(--primary-color);
}
a:hover {    
    text-decoration:underline;
}
ul.errorlist li {
    color: #D8000C;
    font-weight: 600;
    margin: 0.4rem 0;
}
nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;    
    z-index: 1;
    margin: 0;
    display: flex;
    flex-direction: row wrap;    
    justify-content:space-between;
    border-bottom:rgb(182, 181, 181) 0.1rem solid;
    padding: 0.5rem 1rem;
    box-shadow: 0 0.1rem 0.2rem rgb(192, 192, 192);
    background:rgba(255,255,255,1);
    align-content: center;
}
nav img {
    margin: 0;
    padding: 0;    
    align-self: center;
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;    
    flex-direction: row;
    list-style: none;
    gap: var(--gap);
    align-content: center;
    align-items: center;    
}
nav ul li, nav div, nav div img {
    margin: 0;
    padding: 0;
    align-self: center;
    align-content: center;
}
main {
    min-height: 85vh;
    margin-top: 10vh;
    clear: both;
}
/* main.main-b {
    margin: 0;
    min-height: 85vh;
    margin-top: 10vh;
    clear: block;
} */
section {
    min-height: 85vh;
}
b {
    color:var(--blue-color);
}
button, input[type="button"] {
    font-size: inherit;
    margin: 0.5rem 0;
    padding: 0.2rem 1rem;
    cursor: pointer;
    border-radius: 0.6rem;    
    background-color: var(--light-blue-color);
    font-style: italic;
    cursor: pointer;
}
button:hover, input[type="button"] {
    font-weight: 600;
    padding: 0 0.7rem;
    border: 0.2rem outset;
}
input, textarea {
    font-size: 1.4rem;
    border-bottom: 2px solid var(--gray-color);
}
input[type="date"] {
    min-width: 10.5rem;
}
table {
    width: 100%;
    margin: 1rem 0;    
}
th {
    height: 5rem;
}
td {
    text-align: center;
    text-decoration: none;
    text-decoration-style: none;
    font-size: 1.4rem;
    font-weight: 400;
}
input[type="number"] {
    max-width:6rem;
}
fieldset {
    margin-left: 2px;
    margin-right: 2px;
    padding: 1rem;
    border: 2px groove var(--gray-color);
}
.block-display {
    display: block;
}
.size-160px {
    font-size: 1.6rem;
    font-weight: 600;
}
/* INICIO PAINEL EM 3 PARTES */
.home-wrap {
    /* margin-top: 10vh;     */
    display: grid;
    grid-template-columns: max(13rem) auto max(13rem);    
    gap: var(--gap);
    justify-items: stretch;
    align-items: stretch;
}
.home-lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    padding: 0.2rem 1.5rem;
    width: 100%;
    max-width: 20rem;
    height: 100%;
    min-height: 90vh;
}
div.home-principal {
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    justify-self: stretch;
    align-self: stretch;
    overflow: hidden;
}
.home-direita {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-width: 20rem;
}
/* FIM PAINEL EM 3 PARTES */
.home-list {
    display: flex;    
    flex-direction: column;
    align-items: first baseline;
    gap: 0.6rem;
    word-break: break-word;
    /* padding: 0;
    margin-top: 1rem; */
}
.two-parts-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    align-content:space-around;
    gap: var(--gap);
    margin: 0;
    padding: 0;   
}
div.home-panel-flex {
    display: flex;
    flex-direction: column wrap;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    padding: 0.2rem 0.5rem;
}
div.home-panel-flex p {
    margin: 0;
    padding: 0;
}
.saving-sign{ 
    display: none;
    color: var(--green-color);
    font-weight: 600;
}
.div-rows {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    row-gap:3rem;
    margin: 0;
    padding: 0;
    min-width: 50%;
    overflow:auto; 
}
/* Hide scrollbar for Chrome, Safari and Opera */
/* .div-rows::-webkit-scrollbar {
    display: none;
} */
.overflow-treatment {
    word-break: break-all;
    word-wrap: break-word;
    /* overflow: scroll; */
}
.column-flex-streght {
    width: 100%;
    display: flex;
    flex-direction: column wrap;
    justify-content: space-between;
}
.column-flex-center {
    width: 100%;
    display: flex;
    gap: var(--gap);
    flex-direction: column wrap;
    justify-content: flex-end;
}
.two-parts-content>form, .two-parts-content > label, .two-parts-content > span{
    margin: 0;
    padding: 0;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50%;
    align-items: center;
    align-content: center;
    background-color: var(--light-gray-color);
    min-height: 15rem; 
    margin-top: 20rem;   
}
footer div p a{
    color: var(--primary-color);
}
.card {
    border-radius: 0.5rem;    
    border: 0.1rem solid var(--gray-color);    
}
.card-header {    
    display: flex;
    flex-direction: column nowrap;
    justify-content: space-between;
    align-content:center;
    align-items: baseline;
    gap:1rem;
    padding: 0 1rem;
    height: 4rem;
    border-bottom: 0.1rem solid var(--gray-color);
}
.card-number {
    position:relative;
    text-align: center;
    width: 5rem;    
    height: 100%;
    padding: 0.5rem;
    border-right: 0.1rem solid var(--gray-color);
}
.card-info {
    margin: 0.5rem;  
}
.card-content {
    display: flex;
    flex-direction: column nowrap;
    justify-content: space-around;
    align-content:center;
    align-items: baseline;
    gap:1rem;
}
.div-content-centered {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.img-default-class{
    width: 100%;
    max-width: 15rem;
    height: auto;
}
.img-opacity {
    opacity: 0.5;
}
.img-opacity:hover{
    opacity: 1;
}
.div-margin-top {
    margin-top: 2rem;
}
/* MESSAGES INICIO */

.message-item {
    display: flex;
    flex-direction: row;  
    width: 100%;
    justify-content: center;
    gap: 1rem;
    padding: 0.2rem;
    margin: 0.2rem;
}
.alert-info {
    color: var(--blue-color);
    background-color: #BDE5F8;
}
.alert-success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.alert-warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.alert-danger { 
    color: #D8000C;
    background-color: #FFD2D2;
}
.error-try-later{
    display: none;
    color: #f44336;        
}
.close-btn {
    color: red;
    font-size: 2rem;
    margin: 0.2rem;
}
.close-btn-div>a {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    background-color: unset;
    color: inherit;
    cursor: pointer;
    overflow: visible;
}
/* MESSAGES FIM */


/* Formulário inicio */
.no-space-form {
    padding: 0;
    margin: 0;
}
textarea {
    display: block;
    padding: 0.5rem;
    background-color: rgb(254, 254, 254);
    font-size: 1.4rem;
    resize: vertical;
    margin: 0.5rem 0 0 0;
    max-width: 100%;
    color: var(--primary-color);
    border: 0.1rem solid var(--gray-color);
}
input[type="email"]:focus {
    background-color: var(--light-gray-color);
  }
.no-space-form span {
    display: block;
    margin: 0.5rem 0 0 0 ;
}
.no-space-form textarea {
    padding: 0.5rem;
    box-shadow: -0.1rem 0rem 0.2rem rgb(218, 218, 218) inset;
    background-color: rgb(254, 254, 254);    
    font-size: 1.4rem;
    color: var(--blue-color);    
}
.basic-form {
    margin-top: 0.5rem;   
}
.basic-form label, .basic-form textarea {
    display: block;
    margin: 1rem 0;
}
.basic-form input, .basic-form select, .basic-form textarea {
    padding: 0.5rem;
    /* box-shadow: -0.2rem 0rem 0.2rem rgb(223, 223, 223); */
    background-color: rgb(254, 254, 254);
    /* border-right: 5px dotted var(--gray-color); */
    /* border-left: 5px dotted var(--gray-color); */
    width: 60%;
    font-size: 1.4rem;
    padding: 1rem 1rem 0.5rem 1rem;
    /* color: var(--blue-color); */
}
input[type="radio"] {
    margin: 0 0.5rem 0 0;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    cursor: pointer;    
}
.help-block {
    font-style: italic;
}
.basic-form span.helptext {
    display: block;
    font-style: italic;
}
/* .basic-form button[type="submit"] {
    font-size: 1.4rem;
    display: block;
    margin: 2rem 0;
    padding: 1rem;    
    border: var(--light-gray-color) 0.1rem solid;
    cursor: pointer;
    background-color: var(--light-gray-color);
    border-color: var(--primary-color);
    color: var(--primary-color);
    box-shadow: -0.3rem 0rem 0.3rem rgb(200, 200, 200);
} */
/* .basic-form button[type="submit"]:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: 600;
} */
.basic-form input:focus, .basic-form textarea:focus {    
    border-bottom: var(--primary-color) 0.1rem solid;
    background-color: var(--light-blue-color);
}
.basic-form input[type='checkbox'] {
    display: inline;
    width: 1.6rem;
    height: 1.6rem;
}
.basic-form input[type='checkbox']:focus {
    outline: 2px dashed var(--blue-color);
}
.div-2-1-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: start;
    align-content: stretch;
    gap: var(--gap);
    margin: 0;
    padding: 0;
}

/* Formulário fim */

/* CSS para o Modal */
/* Float cancel and delete buttons and add an equal width */
.cancelBtn, .cancelBtn2, .deleteBtn, .confirmBtn {
  text-align: center;
  width: 30%;
}

/* Add a color to the cancel button */
.cancelBtn, cancelBtn2 {
  background-color: #ccc;
  color: black;
  cursor: pointer;
  /* padding: 0.3rem; */
  font-size: inherit;
}

/* Add a color to the delete button */
.deleteBtn {
  background-color: #f44336;
  cursor: pointer;
  /* padding: 0.3rem; */
  font-size: inherit;
}
/* Botão utilizado no Modal para confirmar solicitação, que não seja Deletar algo. */
.confirmBtn {
    background-color: var(--green-color);
    cursor: pointer;
    padding: 0.3rem;
    font-size: inherit;    
}
.salvarBtn {
    background-color: var(--green-color);
    color: #f1f1f1;
    cursor: pointer;
    padding: 0.3rem;
    font-size: inherit; 
    font-weight: 600;   
}

/* Modal Conteúdo */
.modal-conteudo-container {
    padding: 1.6rem;
    text-align: center;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 5rem;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
  }  
/* Fim modal conteúdo */

/* Add padding and center-align text to the container */
.modal-container {
  padding: 1.6rem;
  text-align: center;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: #474e5d; */
  padding-top: 5rem;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.clearfix {
    margin-top: 0.5rem;
}
/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelBtn, .cancelBtn2, .deleteBtn, .confirmBtn {
    width: 100%;
  }
}
/* Fim CSS para o Modal */

/* Modal Aplicacao */
.modal-aplicacao {
    position: fixed; /* Stay in place */
    left:50%;
    top:45%;
    transform:translate(-50%, -45%);
    width: 40%; /* Full width */
    min-width: 36rem;
    height: 70%; /* Full height */
    min-height: 35rem;
    overflow: auto; /* Enable scroll if needed */
    padding-top: 5rem;
    background:rgba(255,255,255,1) !important;
    border: var(--gray-color) 1rem dashed;
}
.modal-open {
    pointer-events: none;
    background-color:#000;
    opacity:0.5;
    height: 100vh;
}
/* Fim Modal Aplicacao */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor: pointer;
    text-align: center;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    /* Position the tooltip */
    width: 100px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {        
    visibility: visible;
}
.avatar-div, box-img {
    width: 3rem;
    height: 3rem;
    border-radius: 0.3rem;
    overflow: hidden;
    background-position: center center; 
    cursor: pointer;   
    border: gray 0.1rem solid;
    box-shadow: 0.1rem 0.1rem 0.5rem gray;
    background-repeat:no-repeat;
    background-size: cover;
}
.avatar-dropdown {
    position: relative;
}
#dropdown-menu, #dropdown-menu-box {
    display: none;
    position: absolute;
    top: 4rem;
    right: 0rem;
    min-width: 10rem;
    background-color: rgb(255, 255, 255, 1);
    border: gray 0.1rem solid;
    z-index: 2;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
}
#dropdown-menu-box {
    min-width: 20rem;
}
#dropdown-menu p, #dropdown-menu-box p {
    font-weight: 500;
    border-bottom: rgb(202, 164, 237) 0.1rem solid;
    margin-bottom: 0.5rem;
}
#dropdown-menu a:hover {
    text-decoration:underline;
}
.img-dropdown-menu {
    width: 100%;
    max-width: 6rem;
    height: auto;
    margin: 0;
    padding: 0;
}
.dropdown-frame {
    margin: 0;
    padding: 1rem;
    border-radius: 0.4rem;
    text-align: center;
    color: var(--primary-color);
}
.dropdown-frame:hover {
    background-color: #BDE5F8;
    text-decoration: none;
}
.dropdown-frame h5 {
    color: var(--primary-color);
}
.dropdown-frame:hover h5 {
    text-decoration: none;
}
.list-columns {
    width: 100%;
    column-count: 3;
    margin-top: -2rem; 	
    column-gap: 10px; 	
    -moz-column-count: 3; 	
    -moz-column-gap: 10px; 	
    -webkit-column-count: 3; 	
    -webkit-column-gap: 10px;
}
.list-columns li {
    /* margin-top: -3rem; */
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    -o-column-break-inside: avoid;
    -ms-column-break-inside: avoid;
    page-break-inside: avoid;
}
.loading-img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 8rem;
    display: none;    
}
.centered-content {
    display: flex;    
    flex-direction: column;
    /* justify-content:center; */
    align-items: center;
    width:inherit;
}
.rigth-side-panel {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.container-progress {
    background-color: rgb(192, 192, 192);
    width: 100%;
    max-height: 1.7rem;
    /* border-radius: 15px; */
}

.skill {
    /* background-color: rgb(116, 194, 92); */
    color: var(--primary-color);
    text-align: right;
    font-size: 1.4rem;
    max-height: 1.7rem;
}
@media (max-width: 1366px) {
    main {
        padding: 2rem;
    }
    .home-wrap {
        grid-template-columns: 1fr;
    }
    .home-lateral, .home-direita {
        display: none;
    }    
}
@media (max-width: 768px) {
    .home-wrap {
        grid-template-columns: 1fr;
    }
    .home-lateral, .home-direita {
        display: none;
    }
    .basic-form input, .basic-form textarea {
        width: 100%;
    }
    footer {
        padding: 2rem;
    }
}