{% extends 'base.html' %}
{% load i18n %}
{% load custom_tags %}
{% load humanize %}
{% load static %}

{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="div-margin-top">
            <h1>Assinatura ExpertZone</h1>
        </div>
        <div class="div-rows">
            <div  class="div-margin-top">
                <h2>Pós Pago Mentor Profissional</h2>
                <h3>Sem taxa de implantação</h3>
            </div>
            <div class="div-margin-top">
                <table class="table-small">
                    <thead>
                        <tr><th colspan="2">Resumo da assinatura</th></tr>
                        <tr>
                            <th>Preços a contratar</th>
                            <th>Plano</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {% for faixa in plano_disponivel.precos.display.values %}
                                
                                {{ faixa.1 }}....
                                {% if oferta_percentual %} <s>{{ faixa.2 }}</s> por {{ faixa.2|aplica_oferta:oferta_percentual }} {% else %} {{ faixa.2 }} {% endif %}
                                <br>
                                {% empty %}
                                ___
                                {% endfor %}
                                Aluno sem atividade não gera gasto
                            </td>
                            <td>
                                <h3>{{ plano_disponivel.titulo }}</h3>
                                <h4>Sem taxa de implantação</h4>
                                {% if oferta_percentual %}
                                <div>
                                    <h4>{{ oferta_disponivel.titulo  }}</h4>
                                    <p>{{ oferta_disponivel.pequeno_anuncio }}</p>
                                </div>
                                {% endif %}                                    
                            </td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th>Atividade</th>                            
                            <th>Quando ocorre o gasto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>                            
                            <td>Aplicação de um simulado</td>
                            <td>Mês em que ocorreu a resposta do aluno</td>
                        </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>               
                <form class="basic-form" action="" method="post" style="max-width: 40rem;">
                    {{ form }}
                    <div class="div-margin-top">
                        <label for="pagamento">Escolha a forma de pagamento:</label>
                        <select name="pagamento" id="pagamento">
                            <option value="cartao" disabled>Cartão de crédito</option>
                            <option value="ppix">Pix ou depósito em conta</option>
                            <option value="boleto" disabled>Boleto bancário</option>
                        </select>
                    </div>
                    <div class="div-margin-top">                        
                        <input type="checkbox" name="termo" id="termo" required style="display: inline;">
                        <label for="termo" style="display: inline;">
                            {% blocktrans %}
                            Li e estou de acordo com os
                            {% endblocktrans %}
                            <a
                            class="sublinhado" href="{% url 'show_policy' %}">
                            {% blocktrans %}
                            Termos de Uso do {{site_name}}.
                            {% endblocktrans %}
                            </a>
                        </label>
                    </div>
                <button class="block-display div-margin-top" type="submit">Confirmar</button>                
            </form>
            </div>
        </div>
    </div>
    <div class="home-direita"></div>
</section>
<script>
    const isNumericInput = (event) => {
        const key = event.keyCode;
        return ((key >= 48 && key <= 57) || // Allow number line
            (key >= 96 && key <= 105) // Allow number pad
        );
    };

    const isModifierKey = (event) => {
        const key = event.keyCode;
        return (event.shiftKey === true || key === 35 || key === 36) || // Allow Shift, Home, End
            (key === 8 || key === 9 || key === 13 || key === 46) || // Allow Backspace, Tab, Enter, Delete
            (key > 36 && key < 41) || // Allow left, up, right, down
            (
                // Allow Ctrl/Command + A,C,V,X,Z
                (event.ctrlKey === true || event.metaKey === true) &&
                (key === 65 || key === 67 || key === 86 || key === 88 || key === 90)
            )
    };

    const enforceFormat = (event) => {
        // Input must be of a valid number format or a modifier key, and not longer than ten digits
        if(!isNumericInput(event) && !isModifierKey(event)){
            event.preventDefault();
        }
    };

    const formatToPhone = (event) => {
        if(isModifierKey(event)) {return;}

        const input = event.target.value.replace(/\D/g,'').substring(0,11); // First ten digits of input only
        const areaCode = input.substring(0,2);
        const middle = input.substring(2,7);
        const last = input.substring(7,12);

        if(input.length > 7){event.target.value = `(${areaCode}) ${middle}${last}`;}
        else if(input.length > 2){event.target.value = `(${areaCode}) ${middle}`;}
        else if(input.length > 0){event.target.value = `(${areaCode}`;}
    };

    const inputElement = document.getElementById('id_telefone1');
    const inputElement2 = document.getElementById('id_telefone2');
    inputElement.addEventListener('keydown',enforceFormat);
    inputElement.addEventListener('keyup',formatToPhone);
    inputElement2.addEventListener('keydown',enforceFormat);
    inputElement2.addEventListener('keyup',formatToPhone);
</script>
{% endblock %}