{% extends 'base.html' %}
{% load i18n %}
{% load custom_tags %}
{% load humanize %}
{% load static %}

{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="div-margin-top">
            <h1>Gestão da assinatura</h1>
            <p><a href="{% url 'usuarios:home_mentor' %}" class="menu">Voltar para o início</a></p>
            <div class="saving-sign">
                <i >Salvando alterações...</i>
            </div>            
        </div>
        <div class="div-margin-top">
            <div class="home-panel-flex">
                <h3>Opções</h3>
                <div>
                    {% csrf_token %}
                </div>
            </div>
        </div>
        <div class="row-flex-start">            
            <div>
                <a href="{% url 'assinaturas:faturas_mentor' %}" class="menu">Histórico de faturas</a>&nbsp;/
                <a href="{% url 'assinaturas:assinatura_detalhe' %}" class="menu">Preços contratados</a>
            </div>
        </div>
        <div class="row-flex-start div-margin-top">            
            <h2>Detalhamento da fatura</h2>
        </div>
        <div class="row-flex-start div-margin-top">
            <fieldset>
                <legend>Relação de gastos com alunos nesta fatura:</legend>
                <p>Gastos com um total de {{ demonstrativo.quantidade }} alunos</p>
                <table>
                    <thead>
                        <tr>
                            <th>Faixas por aluno</th>
                            <th>Tarifa</th>
                            <th>Quantidade</th>
                            <th>R$</th>
                        </tr>
                    </thead>
                    <tbody>                    
                        {% for faixa in demonstrativo.relacao.values %}
                        <tr>
                            <td>{{ faixa.1 }} </td>
                            <td>{{ faixa.2 }} </td>
                            <td>x{{ faixa.0 }} </td>
                            <td>{{ faixa.3 }} </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">Nenhuma custo até aqui</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Qtd de matrículas</th>
                            <th>{{ demonstrativo.quantidade }} </th>
                            <th colspan="1">Total apurado</th>
                            <th>{{ demonstrativo.valor_total }}</th>
                        </tr>
                        <tr>
                            <th colspan="3">Valor por aluno:</th>
                            <th>{{ demonstrativo.valor_por_aluno }}</th>
                        </tr>
                    </tfoot>
                </table>
            </fieldset>
            <fieldset>
                <legend>Demonstrativo</legend>
                <p>Relação de matrículas no mês.</p>
                <table>
                    <thead>
                        <tr>
                            <th>Matrícula Nº</th>                            
                            <th>Aluno</th>
                            <th>Mentoria</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pk, detalhes in demonstrativo.matriculas_consideradas.items %}
                        <tr>
                            <td>{{ pk }}</td>
                            <td>{{ detalhes.matricula_aluno }}</td>
                            <td>{{ detalhes.matricula_mentoria }}</td> 
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">Nenhuma matrícula em cobrança nesta fatura.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
    <div class="home-direita"></div>
</section>
{% endblock %}