{% extends 'base.html' %}
{% load i18n %}
{% load custom_tags %}
{% load humanize %}
{% load static %}

{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
<!--         
        <div class="div-margin-top">
            <h1>Gestão da assinatura</h1>
            <p><a href="{% url 'usuarios:home_mentor' %}" class="menu">Voltar para o início</a></p>
            <div class="saving-sign">
                <i >Salvando alterações...</i>
            </div>            
        </div>
        <div class="div-margin-top">
            <div class="home-panel-flex">
                <h3>Opções</h3>
                <div>
                    {% csrf_token %}
                </div>
            </div>
        </div>
        <div class="row-flex-start">            
            <div class="menu">
                <a href="{% url 'assinaturas:faturas_mentor' %}">Histórico de faturas</a>&nbsp;|
                <a href="#">Preços contratados</a>
            </div>
        </div> -->
        <div class="div-margin-top">
            <h1>Assinatura ExpertZone</h1>
        </div>
        <div class="div-rows">
            <div  class="div-margin-top">
                <h2>{{ plano_disponivel.titulo }}</h2>
                <h3>Sem taxa de implantação</h3>
            </div>
            <div  class="div-margin-top">                
                {% if request.user.is_authenticated %}
                <a href="{% url 'assinaturas:assinar_plano' %}" class="btn-oferta">QUERO PARTICIPAR!</a>
                {% else %}
                <a href="{% url 'usuarios:cadastro' %}" class="btn-oferta">QUERO PARTICIPAR!</a>
                {% endif %}
            </div>
            <div class="div-margin-top">
                <h2>Vantagens</h2>
                <ul>
                    <li>                        
                        <h3>Sem cobrança no mês sem atividade!</h3>
                    </li>
                    <li>Primeira fatura é gratuita!</li>
                    <li>Pós pago com acompanhamento das faturas mensais!</li>
                    <li>Gasto com aluno ocorre apenas no mês que houver atividade na matrícula individual!</li>
                    <li>Você paga na medida da quantidade de alunos que utilizar!</li>
                    <li>Valores decrescentes por aluno. Quanto mais aluno, menor o custo individual!</li>
                    <li>Liberdade para utilização, sem limites de aluno!</li>
                    <li>12 meses sem reajuste de preços!</li>
                </ul>            
            </div>
            <div class="div-margin-top">
                <h2>Recursos</h2>
                <ul>
                    <li>
                        <h3>Painel com a visão geral da mentoria!</h3>
                    </li>
                    <li>Visão geral do aluno!</li>    
                    <li>Aplicação de simulados na plataforma!</li>
                    <li>Estatísticas do aluno no simulado!</li>
                    <li>Estatísticas por matéria!</li>        
                    <li>Estatísticas de questões!</li>
                    <li>Resultado acumulado do aluno!</li>
                    <li>Envio de links e arquivos ao aluno!</li>
                    <li>Seu aluno com acesso a portal exclusivo!</li>
                    <li>Além de outras estatísticas e recursos!</li>
                </ul>
            </div>            
            {% if oferta_percentual %}
            <div class="banner-destaque div-margin-top">
                <h2>{{ oferta_disponivel.titulo  }}</h2>
                <h2>{{ oferta_disponivel.pequeno_anuncio }}</h2>
            </div>
            {% endif %}                
            <div class="div-margin-top">
                <h2>Preços</h2> 
            </div>
            <div class="div-margin-top">
                <table>
                    <thead>
                        <tr><th colspan="2">Tabela de preços</th></tr>
                        <tr>
                            <th>Faixas por aluno</th>
                            <th>Tarifa em R$</th>
                        </tr>
                    </thead>
                    <tbody>                    
                        {% for faixa in plano_disponivel.precos.display.values %}
                        <tr>
                            <td>{{ faixa.1 }}</td>
                            <td>{% if oferta_percentual %} <s>{{ faixa.2 }}</s> por {{ faixa.2|aplica_oferta:oferta_percentual }} {% else %} {{ faixa.2 }} {% endif %}</td>
                        </tr>                            
                        {% empty %}
                        <tr>
                            <td colspan="4">Nenhuma custo até aqui</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>                           
            <div class="div-margin-top">
                <h2>Situações de cobrança</h2>
            </div>
            <div class="div-margin-top"> 
                <table class="table-small">
                    <thead>                    
                        <tr>
                            <th>Atividade</th>                            
                            <th>Quando ocorre o gasto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>                            
                            <td>Aplicação de um simulado</td>
                            <td>Mês em que ocorreu a resposta do aluno</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table-small">
                    <thead>                      
                        <tr>
                            <th>Em implantação</th>                            
                            <th>Quando ocorrerá o gasto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Novo plano de estudo do aluno</td>
                            <td>Mês em que ocorrer a criação do plano.</td>
                        </tr>
                        <tr>
                            <td>Envio de formulário do aluno</td>
                            <td>Mês em que ocorrer o preenchimento pelo aluno</td>
                        </tr>
                    </tbody>
                </table> 
            </div>            
            <div class="div-margin-top">
                <h2>Exemplos de gastos com alunos</h2>
            </div>
            <div class="div-margin-top">
                <p><b>Exemplo 1:</b><br>
                    Mentor com um ou mais aluno. <br>
                    Apenas um aluno respondendo simulado(um ou vários) no mês, <br>
                    e/ou recebendo plano de estudo(um ou vários) no mês.<br>
                    Sendo apenas um aluno com atividade no mês.<br>
                    Gasto total com este aluno no mês: R${{faixas.0}}.<br>
                    Gasto com demais alunos sem nenhuma atividade: R$ 0,00.
                </p>
                <p class="div-margin-top"><b>Exemplo 2:</b><br>
                    Mentor com vários alunos ativos.<br>
                    Sendo vários alunos respondendo simulado(um ou vários) no mês.<br>
                    Sendo vários alunos recebendo plano de estudo(um ou vários) no mês.<br>
                    Sendo um total de 15 alunos distintos com atividade no mês.<br>
                    Gasto total com 15 alunos no mês:<br>
                    <table class="table-small">
                        <thead>
                            <tr>
                                <th>1º aluno</th>
                                <th>2º aluno</th>
                                <th>Do 3º ao 5º</th>
                                <th>Do 6º ao 10º</th>
                                <th>Do 11º ao 15º</th>
                                <th>TOTAL</th>
                            </tr>                            
                        </thead>
                        <tbody>
                            <tr>
                                <td>R${{faixas.0}}</td>
                                <td>R${{faixas.1}}</td>
                                <td>3 X R${{faixas.2}}</td>
                                <td>5 X R${{faixas.3}}</td>
                                <td>5 x R${{faixas.4}}</td>
                                <td>R$ {{valor_total}}</td>
                            </tr>                            
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
        <div class="div-margin-top">
            {% if request.user.is_authenticated %}
            <a href="{% url 'assinaturas:assinar_plano' %}" class="btn-oferta">QUERO PARTICIPAR!</a>
            {% else %}
            <a href="{% url 'usuarios:cadastro' %}" class="btn-oferta">QUERO PARTICIPAR!</a>
            {% endif %}
        </div>
    </div>
    <div class="home-direita"></div>
</section>
{% endblock %}