{% extends 'base.html' %}
{% load i18n %}
{% load custom_tags %}
{% load humanize %}
{% load static %}

{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="div-margin-top">
            <h1>Gestão da assinatura</h1>
            <p><a href="{% url 'usuarios:home_mentor' %}" class="menu">Voltar para o início</a></p>
            <div class="saving-sign">
                <i >Salvando alterações...</i>
            </div>            
        </div>
        <div class="div-margin-top">
            <div class="home-panel-flex">
                <h3>Opções</h3>
                <div>
                    {% csrf_token %}
                </div>
            </div>
        </div>
        <div class="row-flex-start">            
            <div class="menu">
                <a href="{% url 'assinaturas:faturas_mentor' %}">Histórico de faturas</a>&nbsp;|
                <a href="{% url 'assinaturas:assinatura_detalhe' %}">Preços contratados</a>
            </div>
        </div>
        <div class="row-flex-start div-margin-top">            
            <h2>Previsão para a próxima fatura</h2>
        </div>
        <div class="row-flex-start div-margin-top">
            <fieldset>
                <legend>Previsão para próxima fatura:</legend>
                <p>Mês de referência: {{ mes_seguinte.month }}/{{ mes_seguinte.year }}</p>
                <p>Sujeito a alteração até o final do mês.</p>
                <table>
                    <thead>
                        <tr>
                            <th>Faixas por aluno</th>
                            <th>Tarifa</th>
                            <th>Quantidade</th>
                            <th>R$</th>
                        </tr>
                    </thead>
                    <tbody>                    
                        {% for faixa in quantidades.values %}
                        <tr>
                            <td>{{ faixa.1 }} </td>
                            <td>{{ faixa.2}} </td>
                            <td>x{{ faixa.0 }} </td>
                            <td>{{ faixa.3 }} </td>
                        </tr>                            
                        {% empty %}
                        <tr>
                            <td colspan="4">Nenhuma custo até aqui</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="3">Total previsto</th>
                            <th>{{ valor_total }}</th>
                        </tr>
                    </tfoot>
                </table>
            </fieldset>
            <fieldset>
                <legend>Demonstrativo</legend>
                <p>Relação de simulados respondidos no mês.</p>
                <table>
                    <thead>
                        <tr>
                            <th>Simulado Nº</th>                            
                            <th>Aluno</th>
                            <th>Matrícula</th>
                            <th>Mentoria</th>
                            <th>Data resposta</th>
                            <th>Detalhar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for aplicacao in aplicacoes %}
                        <tr>
                            <td>{{ aplicacao.simulado }}</td>
                            <td>{{ aplicacao.aluno }}</td>
                            <td>Matrícuça Nº: {{ aplicacao.matricula.pk }}</td>
                            <td>{{ aplicacao.matricula.mentoria }}</td>
                            <td>{{ aplicacao.data_resposta|date:"SHORT_DATE_FORMAT" }}</td>
                            <td><a href="{% url 'mentorias:resultado_detalhe' aplicacao.pk %}"><img style="height:2rem;" src="{% get_media_prefix %}system/clipboard.svg" alt="Clipboard"></a></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">Nenhuma aplicação em cobrança até o momento</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
    <div class="home-direita"></div>
</section>
{% endblock content %}