{% extends 'base.html' %}
{% load i18n %}
{% load custom_tags %}
{% load humanize %}
{% load static %}

{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="div-margin-top">
            <h1>Gestão da assinatura</h1>
            <p><a href="{% url 'usuarios:home_mentor' %}" class="menu">Voltar para o início</a></p>
            <div class="saving-sign">
                <i >Salvando alterações...</i>
            </div>            
        </div>
        <div class="div-margin-top">
            <div class="home-panel-flex">
                <h3>Opções</h3>
                <div>
                    {% csrf_token %}
                </div>
            </div>
        </div>
        <div class="row-flex-start">            
            <div>
                <a href="{% url 'assinaturas:faturas_mentor' %}" class="menu">Histórico de faturas</a>&nbsp;/
                <a href="{% url 'assinaturas:assinatura_detalhe' %}" class="menu">Preços contratados</a>
            </div>
        </div>
        <div class="row-flex-start div-margin-top">            
            <h2>Previsão para a próxima fatura</h2>
        </div>
        <div class="row-flex-start div-margin-top">
            <fieldset>
                <legend>Previsão para próxima fatura:</legend>
                <p>Mês de referência: {{ mes_seguinte.month }}/{{ mes_seguinte.year }}</p>
                <p>Sujeito a alteração até o final do mês.</p>
                <table>
                    <thead>
                        <tr>
                            <th>Faixas por aluno</th>
                            <th>Tarifa</th>
                            <th>Quantidade</th>
                            <th>R$</th>
                        </tr>
                    </thead>
                    <tbody>                    
                        {% for faixa in quantidades.values %}
                        <tr>
                            <td>{{ faixa.1 }} </td>
                            <td>{{ faixa.2}} </td>
                            <td>x{{ faixa.0 }} </td>
                            <td>{{ faixa.3 }} </td>
                        </tr>                            
                        {% empty %}
                        <tr>
                            <td colspan="4">Nenhuma custo até aqui</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr><th>Qtd de matrículas:</th>
                            <th>{{ total }}</th>
                            <th>Total previsto</th>
                            <th>{{ valor_total }}</th>
                        </tr>
                        <tr>
                            <th colspan="3">Valor médio por aluno:</th>
                            <th>{{ valor_por_aluno }}</th>
                        </tr>
                    </tfoot>
                </table>
            </fieldset>
            <fieldset>
                <legend>Demonstrativo</legend>
                <p>Relação de matrículas no mês.</p>
                <table>
                    <thead>
                        <tr>
                            <th>Matrícula Nº</th>                            
                            <th>Aluno</th>
                            <th>Mentoria</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for matricula in matriculas %}
                        <tr>
                            <td>{{ matricula.pk }}</td>
                            <td>{{ matricula.aluno }}</td>
                            <td>{{ matricula.mentoria.titulo }}</td> 
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">Nenhuma matrícula em cobrança nesta fatura.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
    <div class="home-direita"></div>
</section>
{% endblock content %}