<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bem vindo {% block title %} {% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    </head>
    <body>
        {% include 'partials/_header_b.html' %}
        <main class="main-b">
            {% if messages %}
           
                {% for message in messages %}
                <div class="{{ message.tags }} message-item" id="message-item-{{forloop.counter}}">
                    <div>
                        {{ message }}
                    </div>
                    <div class="{{ message.tags }} close-btn-div">
                        <a href="javascript:void(0);" onclick="item_to_remove('message-item-{{forloop.counter}}')">&times;</a>
                    </div>
                </div>
                {% endfor %}           
            {% endif %}
            {% block content %}
            {% endblock %}
            
        </main>
        {% include 'partials/_footer.html' %}
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="{% static 'js/custom.js' %}"></script>
        {% block js %} 
        {% endblock js %}
    </body>
</html>