{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="div-margin-top"><div class="home-panel-flex"><h1 class="block-display">Painel da matéria</h1></div></div>
        <div class="home-panel-flex navegador">
            <a href="{% url 'usuarios:home_mentor' %}">Matrículas</a>
            <p>|</p>            
            <p><a href="{% url 'mentorias:mentorias_mentor' %}">Mentorias</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:alunos' %}">Alunos</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:simulados' %}">Simulados</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:materias' %}"><b>Matérias</b></a></p>
        </div>
        <div class="row-flex-start">            
            <div class="">
                <a href="javascript:AbrirModal('{{ materia.id }}', '{{materia.titulo}}', 'Materia', 'redirect')" class="menu">Apagar matéria</a>
            </div>
        </div>
        <div><span class="help-block">*Matéria que não estiver em uso, não será listada no preenchimento de gabaritos.</span></div>
        <div class="div-margin-top">
            <div class="column-flex-streght">
                <div><b>Criado em:</b> {{ materia.criada_em|date:"SHORT_DATE_FORMAT" }}</div>
                <div>
                    <form action="" class="basic-form" style="width: 100%;">
                        {% csrf_token %}
                        <label for="tituloConteudo">Título</label>
                        <input onchange="salvaAlteracaoTituloConteudo('tituloConteudo')" type="text" name="tituloConteudo" id="tituloConteudo" disabled value="{{ materia }}">
                        <a id="penEditItem" href="javascript:void(0)" onclick="habilitaInpuTitulo('tituloConteudo')">&#x1F58A;</a>
                        <span id="alertaTitulo" style="color: red;display: block;"></span>                        
                        <div class="saving-sign">
                            <i>Salvando alterações...</i>
                        </div>
                    </form>
                </div>                
            </div>
        </div>
        <div class="row-flex-start div-margin-top">
            <fieldset><legend>Status</legend>
                <form action="" class="basic-form">
                    <label for="emUso" style="display:inline; cursor: pointer;">Matéria em uso: </label>
                    <input onchange="salvaAlteracaoUso('inputEmUso')" type="checkbox" name="emUso" id="inputEmUso" {% if materia.em_uso %} checked {% endif %} style="cursor: pointer;">
                </form>
            </fieldset>
            <fieldset><legend>Peso da matéria</legend>
                <label for="inputValorInteiro">Peso</label>
                <input onchange="salvaAlteracaoValorInteiro('inputValorInteiro')" type="number" min="1" name="inputValorInteiro" id="inputValorInteiro" disabled value="{{ materia.peso }}" style="width: 20rem;">
                <a id="penEditValorInteiro" href="javascript:void(0)" onclick="habilitaInpuTitulo('inputValorInteiro')">&#x1F58A;</a>
            </fieldset>
        </div>
        <div class="two-parts-content div-margin-top">
            <fieldset style="text-align: left;">
                <legend>Simulados com esta matéria:</legend>
                {% if simulados.count == 1 %} <p>Há 1 simulado com esta matéria </p> {% endif %}
                {% if simulados.count > 1 %} <p>Há {{ simulados.count }} simulados com esta matéria </p> {% endif %}
                {% for simulado in simulados %}
                <p><a href="{% url 'mentorias:simulado_detalhe' simulado.pk %}">{{ simulado.titulo }}</a></p>
                {% empty %} 
                <p>Nenhum simulado encontrado</p>
                {% endfor %}
            </fieldset style="float: left;">
        </div>
        <div class="div-margin-top">            
            <a onclick="history.back()">Voltar</a>
        </div>        
    </div>
    <div class="home-direita"></div>
</section>
<div id="id01" class="modal">
    <form class="modal-content" action>        
        <div class="modal-container">
            <h1 id="modalAlerta"></h1>
            <p id="modalText"></p>
            <div class="clearfix">
                <p id="modal-try-later" class="error-try-later">Um erro
                    aconteceu. Tente novamente mais tarde.</p>
                <button type="button" class="cancelBtn">Cancelar</button>
                <button type="button" id="confirmBtn" class="confirmBtn">Confirmar</button>
            </div>
        </div>
    </form>
</div>
<script>
    let inputTitulo = document.getElementById('tituloConteudo');    
    let inputValorInteiro = document.getElementById('inputValorInteiro');
    const tituloAtual = document.getElementById('tituloConteudo').value;
    inputValorInteiro.addEventListener("focusin", (e) => {
        document.getElementById('penEditValorInteiro').style.display = 'none';
    });
    inputValorInteiro.addEventListener("focusout", (e) => {
        document.getElementById('penEditValorInteiro').style.display = 'inline';
        inputValorInteiro.disabled = true;
    });

    inputTitulo.addEventListener("focusin", (event) => {
        document.getElementById('penEditItem').style.display = 'none';
    });
    inputTitulo.addEventListener("focusout", (event) => {
        document.getElementById('penEditItem').style.display = 'inline';
        inputTitulo.disabled = true;
    });
    function habilitaInpuTitulo(id) {
        // Habilita input ao clicar na caneta
        document.getElementById(id).disabled = false;
        document.getElementById(id).focus();   
    };
</script>
{% endblock %}
