{% extends 'base.html' %}
{% load i18n %}

{% block title %} {% trans 'Alterar senha'%} {% endblock title %}

{% block content %}
<div class="row">
    <div class="form-div">
        <h5>{% trans 'Editar perfil' %}</h5>
        <form class="basic-form" method="POST" action="{% url 'usuario:change_password' request.user.username %}">
            {% csrf_token %}
            {{ form }}
            <button class="" type="submit">{% trans 'Salvar'%}</button>            
        </form>        
        <a href="{% url 'index' %}" class="">{% trans 'Voltar' %}</a>
    </div>
</div>
{% endblock content %}