{% extends 'base.html'%}
{% load i18n %}


{% block title %} {% trans 'Confirmar'%} {% endblock title %}

{% block content %}
<div class="form-div">
    <div class="voltar-link"><a href="{% url 'usuario:edit_profile'
            request.user.username request.user.slug %}">Voltar</a></div>
    <h5>{% trans 'Para encerrar a conta digite a senha.'%}</h5>
    <form class="basic-form" method="post" action="{% url
        'usuario:remove_account' request.user %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans 'Remover minha conta'%}</button>
    </form>
</div>
{% endblock content %}