{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<section class="home-wrap">
    <div class="home-lateral">
        <div class="menu-lateral-bar">
            <h4>Menu</h4>
            <ul class="home-list">
                <li><a href="{% url 'usuarios:home_student' %}">Ferramenta do
                        Estudante</a></li>
                <li><h4>Ferramenta do Mentor</h4></li>
            </ul>
        </div>
    </div>
    <div class="home-principal">
        <div class="home-panel-flex">
            <p><a href="{% url 'mentorias:mentorias_home' %}">Mentorias</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:alunos' %}">Alunos</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:simulados' %}"><b>Simulados</b></a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:materias' %}">Materias</a></p>
        </div>
        <div class="home-panel-flex">
            <p>Gabarito / <b>Criar gabarito</b></p>
        </div>
        <div class="div-margin-top column-flex-center">
            <h3>
                <a href="{% url 'mentorias:simulado_detalhe' simulado.pk %}">{{ simulado }}</a>
            </h3>
        </div>
        <div class="home-content-flex div-margin-top">
            {% if not simulado.gabarito %}
            {% if materias %}

            <h3>Salve o gabarito deste simulado</h3>
            <p>1) Escolha as matérias que serão cobradas no simulado.</p>
            <p>2) Escolha a quantidade de questão para a matéria selecionada.</p>
            <p>3) Adicione as respostas em sequência e quantidade corretas.<br> Exemplo para 5 questões:"EBEDC". Observando a ordem.</p>
            <p>4) Ao terminar de preencher, clique em "Criar".</p>
            {% endif %}
            {% else %}             
            <div class="div-margin-top div-content-centered">
                <p>
                    Gabarito
                    <a
                    href="javascript:void(0);"
                    onclick="removerSimuladoAbreModal('{{ simulado.id}}')"
                    class="close-btn">&times;</a>
                </p>
            </div>
            {% endif %}
            <div class="saving-sign">
                <i>Salvando alterações...</i>
            </div>              
            <form action class="basic-form" method="POST" id="gabaritoShapeForm">
                {% csrf_token %}
                {% if not simulado.gabarito %}
                {% if materias %}                
                <table>
                    <thead>
                        <tr>
                            <th>Matéria</th>
                            <th>Quantidade de questões</th>
                            <th>Respostas</th>
                            <th>Pontos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for materia in materias %}
                        <tr>
                            <td>
                                <select name="itemSelect" id="select-{{ forloop.counter0 }}" style="min-width:80%;">
                                    {% for materia in materias %}
                                    <option value="{{materia}}{{materia.peso}}">{{ materia.titulo }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input type="number" min="0" name="qtdInput-{{forloop.counter0}}" id="qtdInput-{{ forloop.counter0 }}">
                            </td>
                            <td>
                                <input type="text" style="text-transform:uppercase" name="respostasInput-{{ forloop.counter0 }}" id="respostasInput-{{ forloop.counter0 }}">
                            </td>
                            <td id="tdPontos-{{ forloop.counter0 }}" class="size-160px"></td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td class="size-160px">Total de questões:</td>
                            <td id="tdTotalQts" class="size-160px"></td>
                            <td class="size-160px" style="text-align:right;">Total de pontos:</td>
                            <td id="tdTotalPts" class="size-160px"></td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
                {% endif %}
            </form>
            {% if not simulado.gabarito %}
            {% if materias %}
                <div class="div-content-centered">
                    <button onclick="enviaGabaritoJson(gabaritoJson, csrf);">Salvar</button>
                </div>
            {% else %}                 
                <p>Antes de montar o gabarito vá em Menu/Matérias e crie as matérias do simulado.</p>
            {% endif %}
            {% else %}
            {% endif %}
        <div class="home-content-flex div-margin-top">
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Número da questão</th>
                            <th>Matéria</th>
                            <th>Peso</th>
                            <th>Resposta Correta</th>                            
                        </tr>
                    </thead>
                    <tbody id="gabaritoTbody">
                        {% if simulado.gabarito %}
                        {% for item, questao in simulado.gabarito.questoes.items %}
                            <tr>
                                <td>{{ item }}</td>
                                {% for key, value in questao.items %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                            </tr>                          
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>                
        </div>
    </div>
    <div class="home-direita"></div>
    <div id="id01" class="modal">
        <form class="modal-content" action>        
            <div class="modal-container">
                <h1 id="modalAlerta"></h1>
                <p id="modalText"></p>
                <div class="clearfix">
                    <p id="modal-try-later" class="error-try-later">Um erro
                        aconteceu. Tente novamente mais tarde.</p>
                    <button type="button" class="cancelBtn">Cancelar</button>
                    <button type="button" id="confirmBtn" class="confirmBtn">Confirmar</button>
                </div>
            </div>
        </form>
    </div>
<script>
    const csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;
    const form = document.querySelector('form');
    let gabaritoDemonstrado = document.getElementById('gabaritoTbody');
    let gabaritoTbody = document.getElementById('gabaritoTbody');
    let tdTotalPts = document.getElementById('tdTotalPts');
    let tdTotalQts = document.getElementById('tdTotalQts');
    let somaTotalQts = 0;
    let gabaritoJson = {};
    form.addEventListener('change', function() {
        gabaritoTbody.innerHTML = '';
        tdTotalQts.innerHTML = '';
        contador = 1;
        gabaritoJson = {};
        gabaritoJson["resumo"] = {};
        gabaritoJson["total"] = {};
        gabaritoJson["questoes"] = {};
        somaTotalQts = 0;
        let totalPontos = 0;
        for(let i=0; i < '{{materias.count }}'; i++){
            let tdPontos = document.getElementById('tdPontos-' + i);
            let respostasInput = document.getElementById('respostasInput-'+ i).value;
            if(!respostasInput){ return };
            respostasInput = respostasInput.replace(/[^aAbBcCdDeE]/g, "");
            let selectMateria = document.getElementById('select-'+i).value;            
            let selectMateriaPeso = selectMateria.slice(-1);
            selectMateria = selectMateria.slice(0, -1);
            let qtdInput = document.getElementById('qtdInput-'+ i).value;            
            somaTotalQts += Number(qtdInput);
            for(let k=1; k<= qtdInput; k++) {
                let newTr = document.createElement('tr');
                let tdQtdNum = document.createElement('td');
                tdQtdNum.innerHTML = 'Questão ' + contador+":";
                newTr.appendChild(tdQtdNum);
                let tdMateria = document.createElement('td');
                tdMateria.innerHTML = selectMateria;
                newTr.appendChild(tdMateria);
                let tdPeso = document.createElement('td');
                tdPeso.innerHTML = selectMateriaPeso;
                newTr.appendChild(tdPeso);
                let tdRespostasInput = document.createElement('td');                
                tdRespostasInput.innerHTML = respostasInput[k-1].toUpperCase();
                if (respostasInput.length != qtdInput) {
                    document.getElementById('respostasInput-'+ i).focus();
                    document.getElementById('respostasInput-'+ i).classList.add('alert-danger');
                    setTimeout(() => {
                        document.getElementById('respostasInput-'+ i).classList.remove('alert-danger');
                    }, 1000);
                    return
                };
                newTr.appendChild(tdRespostasInput);
                gabaritoTbody.appendChild(newTr);
                gabaritoJson["questoes"][contador] = {
                    "matéria": selectMateria, 
                    "peso": selectMateriaPeso,
                    "resposta": respostasInput[k-1].toUpperCase()
                };
                contador++;
            };            
            tdPontos.innerHTML = Number(selectMateriaPeso) * Number(qtdInput);
            totalPontos += Number(selectMateriaPeso) * Number(qtdInput);            
            gabaritoJson["resumo"][selectMateria] = {
                    "peso": selectMateriaPeso,
                    "quantidade": qtdInput,
                    "pontos": Number(selectMateriaPeso) * Number(qtdInput)
            };
            gabaritoJson["total"]["pontos"] = totalPontos;
            gabaritoJson["total"]["questoes"] = somaTotalQts;
            tdTotalPts.innerHTML = totalPontos;
            tdTotalQts.innerHTML = somaTotalQts;
        };
    });
</script>
</section>
{% endblock %}
