{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<section class="home-wrap">
    <div class="home-lateral">
        <div class="menu-lateral-bar">
            <h4>Menu</h4>
            <ul class="home-list">
                <li><a href="{% url 'usuarios:home_student' %}">Ferramenta do
                        Estudante</a></li>
                <li><h4>Ferramenta do Mentor</h4></li>
            </ul>
        </div>
    </div>
    <div class="home-principal">
        <div class="home-panel-flex">
            <p><a href="{% url 'mentorias:mentorias_home' %}">Mentorias</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:alunos' %}">Alunos</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:simulados' %}"><b>Simulados</b></a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:arquivos' %}">Arquivos</a></p>
            <p>|</p>          
            <p><a href="{% url 'mentorias:materias' %}">Materias</a></p>                                                 
        </div>
        <div class="home-panel-flex">
            <p>Gabarito / <b>Criar gabarito</b></p>
        </div>
        <div class="div-margin-top column-flex-center">
            <h3>{{ simulado }}</h3>
        </div>
        <div class="home-content-flex div-margin-top">
            {% if materias %}

                <h3>Salve o gabarito deste simulado</h3>
                <p>1) Escolha as matérias que serão cobradas no simulado.</p>
                <p>2) Escolha a quantidade de questão para a matéria selecionada.</p>
                <p>3) Adicione as respostas em sequência e quantidade corretas.<br> Exemplo para 5 questões:"EBEDC". Observando a ordem.</p>
                <p>4) Ao terminar de preencher, clique em "Criar".</p>
                <div class="saving-sign">
                    <i >Salvando alterações...</i>
                </div>
                <form action class="basic-form" method="POST" id="gabaritoShapeForm">
                    {% csrf_token %}
                    <table>
                        <thead>
                            <tr>
                                <th>Matéria</th>
                                <th>Quantidade de questões</th>
                                <th>Respostas</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for materia in materias %}
                            <tr>
                                <td>
                                    <select name="itemSelect" id="select-{{ forloop.counter0 }}" style="min-width:80%;">
                                        {% for materia in materias %}
                                        <option value="{{materia}}{{materia.peso}}">{{ materia.titulo }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <input type="number" min="0" name="qtdInput-{{loop.counter0}}" id="qtdInput-{{ forloop.counter0 }}">
                                </td>
                                <td>
                                    <input type="text" style="text-transform:uppercase" name="respostasInput-{{ loop.counter0 }}" id="respostasInput-{{ forloop.counter0 }}">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
                <button onclick="enviaGabaritoJson(gabaritoJson, csrf);">Criar</button>
            {% else %}                            
            <p>Antes de montar o gabarito vá em Menu/Matérias e crie as matérias do simulado.</p>
            {% endif %}
        </div>
        <div class="home-content-flex div-margin-top">
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Número da questão</th>
                            <th>Matéria</th>
                            <th>Resposta Correta</th>                            
                        </tr>
                    </thead>
                    <tbody id="gabaritoTbody">

                    </tbody>
                </table>
            </div>
        </div>        
    </div>
    <div class="home-direita"></div>
<script>
    const csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;
    const form = document.querySelector('form');
    let gabaritoDemonstrado = document.getElementById('gabaritoTbody');
    let gabaritoTbody = document.getElementById('gabaritoTbody');
    let gabaritoJson = {};
    form.addEventListener('change', function() {        
        gabaritoTbody.innerHTML = '';        
        contador = 1;
        gabaritoJson = {};
        gabaritoJson["Resumo"] = {}
        gabaritoJson["Total"] = {}
        let totaPontos = 0;
        for(let i=0; i < '{{materias.count }}'; i++){
            let respostasInput = document.getElementById('respostasInput-'+ i).value;
            if(!respostasInput){ return };
            respostasInput = respostasInput.replace(/[^aAbBcCdDeE]/g, "");
            let selectMateria = document.getElementById('select-'+i).value;            
            let selectMateriaPeso = selectMateria.slice(-1);
            selectMateria = selectMateria.slice(0, -1);
            let qtdInput = document.getElementById('qtdInput-'+ i).value;            
            for(let k=1; k<= qtdInput; k++) {
                let newTr = document.createElement('tr');
                let tdQtdNum = document.createElement('td');
                tdQtdNum.innerHTML = 'Questão ' + contador+":";
                newTr.appendChild(tdQtdNum);
                let tdMateria = document.createElement('td');
                tdMateria.innerHTML = selectMateria;
                newTr.appendChild(tdMateria);
                let tdRespostasInput = document.createElement('td');                
                tdRespostasInput.innerHTML = respostasInput[k-1].toUpperCase();
                if (respostasInput.length != qtdInput) {
                    document.getElementById('respostasInput-'+ i).focus();
                    document.getElementById('respostasInput-'+ i).classList.add('alert-danger');
                    setTimeout(() => {
                        document.getElementById('respostasInput-'+ i).classList.remove('alert-danger');
                        }, 1000);
                        return
                };
                newTr.appendChild(tdRespostasInput);
                gabaritoTbody.appendChild(newTr);
                gabaritoJson[contador] = {
                    "Matéria:": selectMateria, 
                    "Peso:": selectMateriaPeso,
                    "Resposta:": respostasInput[k-1].toUpperCase()
                };
                contador++;
            };
            totaPontos += Number(selectMateriaPeso) * Number(qtdInput);            
            gabaritoJson["Resumo"][selectMateria] = {
                    "Peso": selectMateriaPeso,
                    "Quantidade": qtdInput,
                    "Pontos": Number(selectMateriaPeso) * Number(qtdInput)
            };
            gabaritoJson["Total"] = totaPontos;            
        };
    });
</script>
</section>
{% endblock %}
