{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<section class="home-wrap">
    <div class="home-lateral">
        <h4>Menu</h4>
        <ul class="home-list">
            <li><a href="{% url 'usuarios:home_student' %}">Ferramenta do
                    Estudante</a></li>
            <li><h4>Ferramenta do Mentor</h4></li>                    
        </ul>
    </div>
    <div class="home-principal">
        <div class="home-panel-flex">
            <p><a href="{% url 'mentorias:mentorias_home' %}"><b>Mentorias</b></a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:alunos' %}">Alunos</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:simulados' %}">Simulados</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:arquivos' %}">Arquivos</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:materias' %}">Materias</a></p>
        </div>
        <div class="home-panel-flex">
            <p><a href="{% url 'mentorias:criar_mentoria' %}">Criar mentoria</a></p>
        </div>
        <div>Minhas mentorias</div>
        <div class="home-panel-flex">
            {% for mentoria in mentorias %}
            <div>
                <p>
                    <a
                        href="{% url 'mentorias:detalhar_mentoria' mentoria.pk %}">
                        {{ mentoria }}
                    </a>
                </p>
            </div>

            {% endfor %}
        </div>
    </div>
    <div class="home-direita"></div>
</section>
{% endblock %}
