{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% block content %}
<section class="home-wrap">
    <div class="home-lateral">
        <h4>Menu</h4>
        <ul class="home-list">            
            <li><a href="{% url 'usuarios:home_student' %}">Ferramenta do
                    Estudante</a></li>
            <li><h4>Ferramenta do Mentor</h4></li>
        </ul>
    </div>
    <div class="home-principal">
        <div class="home-panel-flex">
            <p><a href="{% url 'mentorias:mentorias_home' %}"><b>Mentorias</b></a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:alunos' %}">Alunos</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:simulados' %}">Simulados</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:arquivos' %}">Arquivos</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:materias' %}">Materias</a></p>
        </div>
        <div class="column-flex-streght">
            {% csrf_token %}
            <p>{{ mentoria }} <a class="size-160px" href="">&#x1F58A;</a></p>
            <p><b> Criada em:</b>
                {{ mentoria.data_cadastro|date:'SHORT_DATE_FORMAT' }}
            </p>
        </div>
        <div class="column-flex-center">
            <div>                
                <a href="{% url 'mentorias:aluno_matricular' mentoria.pk %}">
                Matricular aluno
                </a>
            </div>
            <div>|</div>
            <div><a href="javascript:void(0)" onclick="removerMentoriAbreModal('{{ mentoria.pk }}')"
                >Apagar mentoria</a>
            </div>
        </div>        
        <div class="saving-sign">
            <i >Salvando alterações...</i>
        </div>
        <div class="two-parts-content">
            <div class="div-rows">
                <div>
                    <b>Controle da mentoria</b>
                    <p>

                        <span class="help-block">Anote o que achar conveniente
                            para seu controle:
                        </span>
                    </p>
                    <textarea name="controle" id="controleTextarea" cols="50"
                        rows="15"
                        onchange="atualizaControle()">{{ mentoria.controle }}</textarea>

                </div>
            </div>
            <div class="div-rows">
                <div>
                    <b>Etapas da mentoria</b>
                    <p>
                        {% if mentoria.etapas %}
                        {{ mentoria.etapas }}
                        {% else %}
                        Nenhuma etapa cadastrada.
                        {% endif %}
                    </p>
                </div>
                <div>
                    <div>
                        <p>
                            <b>Arquivos compartilhados neste mentoria</b>
                        </p>
                        {% if mentoria.arquivosmentoria_set %}
                        <ul>
                            {% for arquivo in mentoria.arquivosmentoria_set.all %}
                            <li id="arquivp-p-{{arquivo.id}}"
                                class="overflow-treatment" style="margin-bottom: 1rem;padding-top: 0;line-height:1.3rem;">
                                {{ arquivo }}<a
                                    href="javascript:void(0);"
                                    onclick="removerArquivoAbreModal('{{ arquivo.id}}')"
                                    class="close-btn">&times;</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        Nenhum arquivo nesta mentoria.
                        {% endif %}
                        <form action class="no-space-form" method=""
                            enctype="multipart/form-data">                            
                            <span class="help-block">Anexe arquivo nesta
                                mentoria:</span>
                            <input type="file" name="arquivoInput"
                                id="arquivoInput">
                            <a href id="upload-button" onclick="uploadFile()">Enviar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-rows div-margin-top">
            <div>
                <b>Alunos matriculados nesta mentoria</b>
                
            </div>
        </div>
    </div>
    <div class="home-direita"></div>
</section>
<div id="id01" class="modal">
    <form class="modal-content" action>
        <div class="modal-container">
            <h1 id="modalAlerta"></h1>
            <p id="modalText"></p>
            <div class="clearfix">
                <p id="modal-try-later" class="error-try-later">Um erro
                    aconteceu. Tente novamente mais tarde.</p>
                <button type="button" class="cancelBtn">Cancelar</button>
                <button type="button" id="confirmBtn">Confirmar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
