{% extends 'base.html'%}
{% load i18n %}
{% load custom_tags %}

{% block title %} {% trans 'Fale com a gente'%} {% endblock title %}

{% block head %}
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6LeohdEnAAAAAEZhYl-K2bhftEDWDW-thWznP6JG"></script>
    <!-- Your code -->
{% endblock %}  

{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">        
        <h1>Contate o {{ dicio|extract_dict:site_name}}</h1>
        <!-- <p>Telefone: {{ dicio|extract_dict:site_contact_fone }}</p> -->
        <p>Email: {{ dicio|extract_dict:site_contact_email }}</p>

        <form action="" method="POST" class="basic-form">
            {% csrf_token %}
            <label for="nome">Nome:</label>
            <input type="text" name="nome" placeholder="Nome" required>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Ex:meuemail@email.com.br" required>
            <label for="telefone">Telefone:</label>
            <input type="text" name="telefone" id="telefone" placeholder="(11) 988888889">
            <label for="tipoContato">Selecione o tipo de contato que deseja fazer:</label>
            <select name="tipoContato" id="tipoContato">
                <option value="melhorias">Sugestões de melhorias</option>
                <option value="servico">Críticas</option>
                <option value="servico">Outros assuntos</option>
            </select>
            <textarea name="conteudo" id="conteudo" cols="30" rows="10" placeholder="Mensagem"></textarea>
            
            <button class="div-margin-top block-display" onclick="onClick(event)" type="submit">Enviar</button>
        </form>     

        <a href="{% url 'usuarios:index' %}">{% trans 'Voltar'%}</a>
    </div>
<div class="home-direita"></div>
</section>
<script>
    let token;
    function onClick(e) {
        console.log(e);
        e.preventDefault();
        grecaptcha.enterprise.ready(async () => {
            token = await grecaptcha.enterprise.execute('6LeohdEnAAAAAEZhYl-K2bhftEDWDW-thWznP6JG', {action: 'LOGIN'});        
        });
        let form = new FormData();    
        const csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        form.append('csrfmiddlewaretoken', csrf);   
        form.append('token', token);
        $.ajax({
            type: 'POST',
            url: '',
            data: form,       
            contentType: false,
            processData: false,
            cache:false,
            success: function (data) {
            },
            error: function(data){
            }
        });      
    }
  </script>
{% endblock content %}
