{% extends 'base.html'%}
{% load i18n %}
{% load static %}
{% load custom_tags %}

{% block title %} {% trans 'Fale com a gente'%} {% endblock title %}

{% block head %}
    <script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>
    <!-- Your code -->
{% endblock %}  

{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">        
        <h1>Contate o {{ dicio|extract_dict:site_name}}</h1>
        <!-- <p>Telefone: {{ dicio|extract_dict:site_contact_fone }}</p> -->
        <!-- <p>Email: {{ dicio|extract_dict:site_contact_email }}</p> -->

        <form action="" method="POST" class="basic-form" onsubmit="return verificaRequisicao(event)">
            {% csrf_token %}
            <label for="nome">Nome:</label>
            <input type="text" name="nome" placeholder="Nome" required>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Ex:meuemail@email.com.br" required>
            <label for="telefone">Telefone:</label>
            <input type="text" name="telefone" id="telefone" placeholder="(11) 988888889">
            <label for="tipoContato">Selecione o tipo de contato que deseja fazer:</label>
            <select name="tipoContato" id="tipoContato">
                <option value="melhorias">Sugestões de melhorias</option>
                <option value="criticas">Críticas</option>
                <option value="outros">Outros assuntos</option>
            </select>
            <textarea name="conteudo" id="conteudo" cols="30" rows="10" placeholder="Mensagem" required></textarea>
            <div class="g-recaptcha" data-sitekey="6Lcx3XgpAAAAABl3RBmpWxAo4EpJn6FOjXO6W_T7" data-action="SUBMIT"></div>
            <span style="display:none;color: red;" id="alertaRecaptcha">Responda à verificação "Não sou um robô".</span>

            <button class="div-margin-top block-display" type="submit">Enviar</button>
        </form>     
        <a class="block-display" href="{% url 'usuarios:index' %}">{% trans 'Voltar'%}</a>
        <p><img id="imgLoading" class="loading-img" src="{% get_media_prefix %}system/loading.gif" alt="Representação de carregamento da página"></p>
    </div>
<div class="home-direita"></div>
</section>
<script>
    var onloadCallback = function() {};
    var alertaRecaptcha = document.getElementById("alertaRecaptcha");
    const verificaRequisicao = (evt) => {        
        let response = grecaptcha.getResponse();
        if(response.length == 0) // 
            {
                alertaRecaptcha.style.display = 'block';
                evt.preventDefault();
                setTimeout(() => {
                    alertaRecaptcha.style.display = 'none';
                }, 1500);
                return false;
            }
            else {
                document.getElementById('imgLoading').style.display = 'block';
                setTimeout(() => {
                    alertaRecaptcha.style.display = 'none';
                }, 3000);
            }
    }
    const isNumericInput = (event) => {
        const key = event.keyCode;
        return ((key >= 48 && key <= 57) || // Allow number line
            (key >= 96 && key <= 105) // Allow number pad
        );
    };

    const isModifierKey = (event) => {
        const key = event.keyCode;
        return (event.shiftKey === true || key === 35 || key === 36) || // Allow Shift, Home, End
            (key === 8 || key === 9 || key === 13 || key === 46) || // Allow Backspace, Tab, Enter, Delete
            (key > 36 && key < 41) || // Allow left, up, right, down
            (
                // Allow Ctrl/Command + A,C,V,X,Z
                (event.ctrlKey === true || event.metaKey === true) &&
                (key === 65 || key === 67 || key === 86 || key === 88 || key === 90)
            )
    };

    const enforceFormat = (event) => {
        // Input must be of a valid number format or a modifier key, and not longer than ten digits
        if(!isNumericInput(event) && !isModifierKey(event)){
            event.preventDefault();
        }
    };

    const formatToPhone = (event) => {
        if(isModifierKey(event)) {return;}

        const input = event.target.value.replace(/\D/g,'').substring(0,11); // First ten digits of input only
        const areaCode = input.substring(0,2);
        const middle = input.substring(2,7);
        const last = input.substring(7,12);

        if(input.length > 7){event.target.value = `(${areaCode}) ${middle}${last}`;}
        else if(input.length > 2){event.target.value = `(${areaCode}) ${middle}`;}
        else if(input.length > 0){event.target.value = `(${areaCode}`;}
    };

    const inputElement = document.getElementById('telefone');
    inputElement.addEventListener('keydown',enforceFormat);
    inputElement.addEventListener('keyup',formatToPhone);
</script>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
    async defer>
</script>

{% endblock content %}
