{% extends 'base.html'%}
{% load i18n %}
{% load static %}
{% block content %}
<section class="home-wrap">
  <div></div>
  <div>
    <h4>{{ site_name }}</h4>
    <h5>{{ site_slogan }}</5>
    </div>
    <div></div>
  </section>
  <section class="home-wrap">
    <div class></div>
    <div>
      <p>
        Cadastre-se no Mentoreto para usuários
      </p>
      <form action method="post" class="basic-form">
        {% csrf_token %}

        {{ form }}
        <label for="policy">
          {% blocktrans %}
          Li e estou de acordo com a            
          {% endblocktrans %}
          <a
            class="sublinhado" href="{% url 'show_policy' %}">
            {% blocktrans %}
            política da comunidade do {{site_name}}.              
            {% endblocktrans %}
          </a>
        </label>
        <input type="checkbox" name id="policy" required>
        <button type="submit" value="Submit">
          {% trans "Confirmar" %}
        </button>
      </form>

    </div>
    <div class></div>
  </section>

  {% endblock %}