{% extends 'base.html'%}
{% load i18n %}
{% load static %}
{% block content %}
<section class="home-wrap">
  <div class=""></div>
  <div id="div-center">
      

        <h5>
          Cadastre-se no Mentoreto para usuários
        </h5>
      
        <form action="" method="post" class="basic-form">
          {% csrf_token %}
          
          {{ form }}          
          <label for="policy">{% trans 'Li e estou de acordo com a '%}<a class="sublinhado" href="{% url 'show_policy' %}">{% trans 'política da comunidade do '%}{{site_name}}.</a></label>         
          <input type="checkbox" name="" id="policy" required>
          <button type="submit" value="Submit">
            {% trans "Confirmar" %}
          </button>
        </form>
  

  </div>
  <div class=""></div>
</section>


{% endblock %}