{% extends 'base.html'%}
{% load i18n %}
{% load static %}
{% block content %}
  <section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
      <h1>{{ site_name }}</h1>
      <h2>{{ site_slogan }}</h2>
      <h3>
        Cadastro de mentores, professores e instrutores
      </h3>
      <form action method="post" class="basic-form">
        {% csrf_token %}

        {{ form }}
        <label for="policy">
          {% blocktrans %}
          Li e estou de acordo com a            
          {% endblocktrans %}
          <a
            class="sublinhado" href="{% url 'show_policy' %}">
            {% blocktrans %}
            política da comunidade do {{site_name}}.              
            {% endblocktrans %}
          </a>
        </label>
        <input type="checkbox" name id="policy" required>
        <button type="submit" value="Submit" class="block-display">
          {% trans "Confirmar" %}
        </button>
      </form>
    </div>
    <div class="home-direita"></div>
  </section>
<script>
  window.onload = () => {
    document.getElementById('id_first_name').focus();
  };
</script>
  {% endblock %}