{% extends 'base.html' %}
{% load i18n %}

{% block title %} {% trans 'Alterar senha'%} {% endblock title %}

{% block content %}
<!-- NAO ESTÁ EM USO -->
<section class="home-wrap">
    <div class=""></div>

    <div id="div-center">
        <h5>{% trans 'Alterar senha de acesso' %}</h5>
        <form class="basic-form" method="POST" action="{% url 'usuarios:change_password' %}">
            {% csrf_token %}
            {{ form }}
            <button class="" type="submit">{% trans 'Salvar'%}</button>            
        </form>        
        <p><a href="{% url 'usuarios:profile_view' %}">{% trans 'Perfil' %}</a></p>
    </div>
    <div></div>
</section>
{% endblock content %}