{% extends 'base.html' %}
{% load i18n %}

{% block title %} {% trans 'Alterar senha'%} {% endblock title %}

{% block content %}
<section class="home-wrap">
    <div class="home-lateral">
        <div class="menu-lateral-bar">

            <h4>Menu</h4>

            <ul class="home-list home-lateral-list">
                <li><a href="{% url 'usuarios:home_mentor' %}">Ferramenta do
                        Mentor</a></li>
                <li><a href="{% url 'usuarios:home_student' %}">Ferramenta do
                        Estudante</a></li>
            </ul>
        </div>
    </div>
    <div>
        <h4>{% trans 'Alterar senha de acesso' %}</h4>
        <p><a href="{% url 'usuarios:profile_view' %}">{% trans 'Ver Perfil' %}</a></p>
        <form class="basic-form" method="POST"
            action="{% url 'usuarios:change_password' %}">
            {% csrf_token %}
            {{ form }}
            <button class type="submit">{% trans 'Salvar'%}</button>
        </form>
        <p>
            <a
                href="{% url 'usuarios:edit_profile' request.user.slug %}">
                {% trans 'Editar informações pessoais' %}
            </a>
        </p>
    </div>
    <div></div>
</section>
{% endblock content %}