{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %} {% trans 'Alterar senha'%} {% endblock title %}

{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="home-panel-flex navegador">
            <a href="{% url 'usuarios:home_mentor' %}">Início</a>
            <p>|</p>            
            <p><a href="{% url 'mentorias:mentorias_mentor' %}">Mentorias</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:alunos' %}">Alunos</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:simulados' %}">Simulados</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:materias' %}">Matérias</a></p>
        </div>
        <div class="div-margin-top">
            <h1>Alterar senha</h1>
            <a href="{% url 'usuarios:profile_view' %}">               
                <i class="fa-sharp fa-solid fa-arrow-left"></i>&nbsp;Ver perfil
            </a>
            <div class="saving-sign">
                <i>Salvando alterações...</i>
            </div>
        </div> 
        <div class="div-margin-top">
            <h4>{% trans 'Alterar senha de acesso' %}</h4>
            <form class="basic-form" method="POST"
                action="{% url 'usuarios:change_password' %}">
                {% csrf_token %}
                {{ form }}
                <button class="block-display" type="submit">{% trans 'Salvar'%}</button>
            </form>
            <p>
                <a
                    href="{% url 'usuarios:edit_profile' request.user.slug %}">
                    {% trans 'Editar informações pessoais' %}
                </a>
            </p>
        </div>
    </div>
    <div class="home-direita"></div>
</section>    
{% endblock content %}