{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="home-wrap">
    <div class="home-lateral">
        <ul class="home-list">
            <li><h4>Menu</h4></li>
            <li><a href="{% url 'usuarios:edit_profile' request.user.slug %}">Perfil </a></li>
            <li>Classes</li>
            <li>Alunos</li>
            <li>Provas</li>
        </ul>
    </div>
    <div class="home-principal">
        <h5>Painel principal</h5>
    </div>
    <div class="home-direita"></div>
</section>
{% endblock %}
