{% extends 'base.html'%}
{% load i18n %}
{% load static %}

{% block title %} {{ site_name|upper }} Editar perfil {% endblock title %}

{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="home-panel-flex div-margin-top">
            <div class="tooltip">
                <a href="{% url 'usuarios:home' %}">
                    <img src="{% get_media_prefix %}\user-home.svg" alt="Imagem de uma pasta com símbolo de uma casa." height="60">
                    <span class="tooltiptext">Home</span>
                </a>
            </div>
            <div class="tooltip">
                <a href="{% url 'usuarios:profile_view' %}">
                    <img src="{% get_media_prefix %}\profile.svg" alt="Desenho de um ser humano masculino sem rosot" height="60"> 
                </a>                
                <span class="tooltiptext">Perfil</span>
            </div>
        </div>
        <div class="div-margin-top">
            <h4>Modificar email</h4>
            <p>Email atuaal: {{ request.user.email }}.</p>
            <form action class="basic-form" method="POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Salvar</button>
            </form>
            <p>
                <a
                    href="{% url 'usuarios:edit_profile' request.user.slug %}">
                    {% trans 'Editar informações pessoais' %}
                </a>
            </p>
        </div>
    </div>
    <div></div>
</section>
    
{% endblock content %}
