{% extends 'base.html'%}
{% load i18n %}
{% load static %}

{% block title %} {{ site_name|upper }} Editar perfil {% endblock title %}

{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="home-panel-flex">
            <div>
                <a href="{% url 'usuarios:home_mentor' %}">
                    <img src="{% get_media_prefix %}system/user-home.svg" alt="Imagem de uma pasta com símbolo de uma casa." height="40">
                </a>
            </div>
            <p>|</p>            
            <p><a href="{% url 'mentorias:mentorias_mentor' %}">Mentorias</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:alunos' %}">Alunos</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:simulados' %}">Simulados</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:materias' %}">Materias</a></p>
        </div>
        <div class="home-panel-flex">
            <div>
                <a href="{% url 'usuarios:profile_view' %}">               
                    <i class="fa-sharp fa-solid fa-arrow-left"></i>&nbsp;Ver Perfil
                </a>
            </div>
        </div>
        <div class="div-margin-top">            
            <h4>{% trans 'Editar preferencias' %}</h4>
            <div class="preferences-form-div">
                <form action class="basic-form" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="block-display">Salvar</button>
                </form>
                <p>
                    <a
                        href="{% url 'usuarios:edit_profile' request.user.slug %}">
                        {% trans 'Editar informações pessoais' %}
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div></div>
</section>
{% endblock content %}
