{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="home-panel-flex">
            <div class="tooltip" style="text-align: center;">
                <a href="{% url 'usuarios:home_mentor' %}">
                    <img src="{% get_media_prefix %}system/user-home.svg" alt="Imagem de uma pasta com símbolo de uma casa." height="60">                    
                </a>
            </div>
            <p>|</p>
            <p><a href="{% url 'mentorias:mentorias_mentor' %}">Mentorias</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:alunos' %}">Alunos</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:simulados' %}">Simulados</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:materias' %}">Matérias</a></p>
        </div>
        <div class="column-flex-center">
            <div><a href="{% url 'mentorias:criar_mentoria' %}">Criar mentoria</a></div> 
            <p>|</p>
            <div><a href="{% url 'mentorias:cadastrar_aluno' %}">Cadastrar aluno</a></div>        
            <p>|</p>
            <div><a href="{% url 'mentorias:cadastrar_simulado' %}">Cadastrar simulado</a></div>
            <p>|</p>
            <div><a href="{% url 'mentorias:cadastrar_materia' %}">Cadastrar matéria</a></div>
        </div>
        <div class="two-parts-content div-margin-top">
            <div class="div-rows">
                <div>
                    <h3>Matrículas</h3>
                </div>
                <div>
                    <h3>Alunos</h3>
                </div>
            </div>
            <div class="div-rows">
                <div>
                    <h3>
                        Últimos Simulados
                    </h3>
                </div>
                <div>
                    <h3>Calendário</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="home-direita"></div>
</section>
{% endblock %}
