{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="home-panel-flex">
            <p><b>Painel</b></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:mentorias_mentor' %}">Mentorias</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:alunos' %}">Alunos</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:simulados' %}">Simulados</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:materias' %}">Matérias</a></p>
        </div>
        <div class="home-panel-flex">
            <div><a href="{% url 'mentorias:criar_mentoria' %}">Criar mentoria</a></div> 
            <div><a href="{% url 'mentorias:cadastrar_aluno' %}">Cadastrar aluno</a></div>        
            <div><a href="{% url 'mentorias:cadastrar_simulado' %}">Cadastrar simulado</a></div>
        </div>
    </div>
    <div class="home-direita"></div>
</section>
{% endblock %}
