{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load custom_tags %}
{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="div-margin-top">
            <h1>Painel principal</h1>
        </div>
        <div class="home-panel-flex navegador">
            <a href="{% url 'usuarios:home_mentor' %}"><b>Início</b></a>
            <p>|</p>
            <p><a href="{% url 'mentorias:mentorias_mentor' %}">Mentorias</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:alunos' %}">Alunos</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:simulados' %}">Simulados</a></p>
            <p>|</p>
            <p><a href="{% url 'mentorias:materias' %}">Matérias</a></p>
        </div>
        <div class="row-flex-start">
            <div>
                <a href="{% url 'mentorias:criar_mentoria' %}" class="menu">Criar mentoria</a>&nbsp;/
                <a href="{% url 'mentorias:cadastrar_aluno' %}" class="menu">Cadastrar aluno</a>&nbsp;/
                <a href="{% url 'mentorias:cadastrar_simulado' %}" class="menu">Cadastrar simulado</a>&nbsp;/
                <a href="{% url 'mentorias:cadastrar_materia' %}" class="menu">Cadastrar matéria</a>
            </div>
        </div>
        <div class="saving-sign">
            <i>Salvando alterações...</i>
        </div>
        <div>
            {% csrf_token %} 
        </div>
        {% for mentoria in mentorias %}
        <div class="div-margin-top">
            <span>
                <a href="{% url 'mentorias:mentoria_detalhe' mentoria.pk %}"> <h2 style="display: inline;">{{ mentoria.titulo }}</h2></a> 
            </span>
            <span class="tooltip">
                <a href="{% url 'mentorias:aluno_matricular' mentoria.pk %}" class="">
                    <i class="fa-solid fa-square-plus"></i>
                </a>
                <span class="tooltiptext">Nova matrícula</span>
            </span>
            <p>
                <a href="{% url 'mentorias:aplicar_simulado' mentoria.pk %}" class="menu">Aplicar simulado nesta mentoria </a>
            </p>
            <div>
                <h3>
                    Matrículas nesta mentoria:
                </h3>
                {% for matricula in mentoria.matriculas_ativas %}
                <div class="card">
                    {% if matricula.falta_responder.0 %}
                    <div class="card-header" style="background-image: url('{% get_media_prefix %}/system/corte-comum2-maior.jpg');background-size: cover;border-bottom: 3px solid red;">
                        <span class="card-content" style="flex: 0;"> 
                            <a href="{% url 'mentorias:desempenho_matricula' matricula.id %}" class="card-number">
                                <span style="font-weight: 600;">{{ matricula.id }}</span>
                            </a>
                        </span>
                        <span class="card-content" style="overflow: hidden;">
                            <span><a href="{% url 'mentorias:desempenho_matricula' matricula.id %}" style="letter-spacing: .1rem;text-transform: uppercase;white-space: nowrap;">{{ matricula.aluno }}</a></span>
                        </span>
                        <span class="card-content">                                        
                            <span class="flex-item" style="white-space: nowrap;"><p><i class="fa-brands fa-whatsapp"></i>&nbsp;<a href="https://web.whatsapp.com/send?phone={{ matricula.aluno.telefone_aluno }}" target="_blank">{{ matricula.aluno.telefone_aluno }}</a></p></span>
                        </span>
                    </div>
                    {% else %}
                    <div class="card-header" style="background-image: url('{% get_media_prefix %}/system/corte-comum2-maior.jpg');background-size: cover;border-bottom: 3px solid green;">
                        <span class="card-content" style="flex: 0;"> 
                            <a href="{% url 'mentorias:desempenho_matricula' matricula.id %}" class="card-number">
                                <span style="font-weight: 600;">{{ matricula.id }}</span>
                            </a>
                        </span>
                        <span class="card-content" style="overflow: hidden;">
                            <span><a href="{% url 'mentorias:desempenho_matricula' matricula.id %}" style="letter-spacing: .1rem;text-transform: uppercase;white-space: nowrap;">{{ matricula.aluno }}</a></span>
                        </span>
                        <span class="card-content">                                        
                            <span class="flex-item" style="white-space: nowrap;"><p><i class="fa-brands fa-whatsapp"></i>&nbsp;<a href="https://web.whatsapp.com/send?phone={{ matricula.aluno.telefone_aluno }}" target="_blank">{{ matricula.aluno.telefone_aluno }}</a></p></span>
                        </span>
                    </div>
                    {% endif %}
                    <div class="card-body">                                
                        <div class="card-content">
                            <span>Simulados aplicados: <span style="font-weight: 600;">{{ matricula.aplicacoes_matricula.all.count}}</span></span>
                                {% if matricula.falta_responder.0 %}
                                <span style="font-weight: 600;color: brown;">Simulado pendente</span>
                                {% else %}
                                {% endif %}
                        </div>
                        <div>
                            <span>Média de acertos: {{ matricula.retorna_media_matricula.0 }}%</span>
                        </div>
                        <div>
                            {% if matricula.falta_responder.1 %}
                            <span>Último simulado aplicado em: {{ matricula.falta_responder.1.criada_em|tempo_transcorrido }} dias.</span>
                            {% else %}
                            <span>Nenhum simulado aplicado neste aluno.</span>
                            {% endif %}
                        </div>
                        <div>
                            <span class="flex-item" style="white-space: nowrap;">{{ matricula.encerra_em|tempo_que_falta }} dias para o fim da mentoria.</span>
                        </div>
                    </div>
                    <div class="card-footer row-flex-stretch">
                        <a href="{% url 'mentorias:desempenho_matricula' matricula.id %}">
                            <span style="font-weight: 600;">Detalhar matrícula</span>
                        </a>
                        <a href="{% url 'mentorias:aplicacao_individual' matricula.pk  %}"><span style="font-weight: 600;">Aplicar simulado individualmente</span></a>
                    </div>
                </div>
                {% empty %}
                <p>Nenhuma matrícula cadastrada nesta mentoria </p>
                {% endfor %}                   
            </div>
            {% empty %}
            <div class="div-margin-top">                
                <h3>Nenhuma mentoria cadastrada até o mommento</h3>
            </div>
            {% endfor %}
    </div>
    <div class="home-direita"></div>
</section>
{% endblock %}
