{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<section class="home-wrap">
    <div class="home-lateral">
    </div>
    <div class="home-principal">
        <h5>Escolha a ferramenta que deseja acessar?</h5>
        <p>Você pode configurar entrada automaticamente na ferramenta preferida
            modificando no menu Preferências.    
        </p>
        <div class="home-panel-flex">
            <div><a href="{% url 'usuarios:home_student' %}">Estudante </a></div>
            <div><a href="{% url 'usuarios:home_mentor' %}">Mentor </a></div>
        </div>
    </div>
    <div class="home-direita"></div>
</section>
{% endblock %}
