<!-- cadastro.html -->
<table class="table-small">
    <thead>
        <!-- <tr><th colspan="1">Resumo dos preços</th></tr> -->
        <tr>
            <!-- <th>Faixas de preços</th> -->
            <!-- <th>Plano</th> -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <!-- <td>
                {% for faixa in plano_disponivel.precos.display.values %}
                
                {{ faixa.1 }}....
                {% if oferta_percentual %} <s>{{ faixa.2 }}</s> por {{ faixa.2|aplica_oferta:oferta_percentual }} {% else %} {{ faixa.2 }} {% endif %}
                <br>
                {% empty %}
                ___
                {% endfor %}
                
            </td> -->
            <td>
                <h2>{{ plano_disponivel.titulo }}</h2>
                <h3>Pague na quantidade de aluno que utilizar!</h3>
                <h4>Quanto mais aluno, mais desconto!</h4>
                <h4>Sem taxa de implantação!</h4>
                <h4>Sem mensalidade!</h4>                                 
            </td>
        </tr>
    </tbody>
    <!-- <thead>
        <tr>
            <th>Atividade</th>                            
            <th>Quando ocorre o gasto</th>
        </tr>
    </thead>
    <tbody>
        <tr>                            
            <td>Aplicação de um simulado</td>
            <td>Mês em que ocorreu a resposta do aluno</td>
        </tr>
        <tr>
            <td>Novo plano de estudo do aluno(em implantação)</td>
            <td>Mês em que ocorrer a criação do plano.</td>
        </tr>
        <tr>
            <td>Envio de formulário do aluno(em implantação)</td>
            <td>Mês em que ocorrer o preenchimento pelo aluno</td>
        </tr>
    </tbody>
    <tfoot>
    </tfoot> -->
</table>    
<!-- fim cadastro.html -->