{% extends 'base.html'%}
{% load i18n %}
{% load static %}
{% block title %} {{ site_name|upper }} Editar perfil {% endblock title %}

{% block content %}
<section class="home-wrap">
    <div class="home-lateral"></div>
    <div class="home-principal">
        <div class="home-panel-flex">
            <div class="tooltip">
                <a href="{% url 'usuarios:home' %}">
                    <img src="{% get_media_prefix %}system/user-home.svg" alt="Imagem de uma pasta com símbolo de uma casa." height="60">
                    <span class="tooltiptext">Home</span>
                </a>
            </div>
        </div>
        <div class="div-margin-top">
            <h4>Nome:</h4>
            <p>{{ request.user.first_name }}</p>
            <h4>Email do cadastro:</h4>
            <p>{{ request.user.email }}</p>
            <ul class="home-list">
                <li><a
                        href="{% url 'usuarios:edit_profile' request.user.slug %}">
                        {% trans 'Editar informações pessoais' %}</a></li>
                <li><a
                        href="{% url 'usuarios:edit_preferences' request.user.preferences.pk %}">
                        {% trans 'Preferências' %}</a></li>
            </ul>
        </div>
    </div>
    <div></div>
</section>
{% endblock content %}
